@using Resources;
@using BachMaiCR.DBMapping.Models;
@model BachMaiCR.DBMapping.ModelsExt.ConfigHolidaySearch
@{
       
    var lstHoliday = ViewBag.ListHoliday as List<SelectListItem>;
    var lstDoctor = ViewBag.ListDoctor as List<SelectListItem>;
    var actUpdate = (bool)ViewBag.ActionUpdate;
  
    var RootDepartment = ViewBag.RootDepartment as List<LM_DEPARTMENT>;
    string DeptId = "", DeptName = "";
    if (RootDepartment!=null && RootDepartment.Count>0)
    {
        DeptId = Convert.ToString(RootDepartment[0].LM_DEPARTMENT_ID);
        DeptName = RootDepartment[0].DEPARTMENT_NAME;    
    }
    RootDepartment = null;
 
}
<link href="~/Content/gpcp-department.css" rel="stylesheet" />
<script src="~/Scripts/gpcp-department.js"></script>
<link href="~/Content/jquery.treeview.css" rel="stylesheet" />
<script src="~/Scripts/jquery.cookie.js"></script>
<script src="~/Scripts/jquery.treeview.js"></script>
<div class="content-wrapper">
    <div id="search_form1" class="row" style="width:75%; margin:0 auto">   
        <!-- Department & Position-->
        <div>
            <div class="col-md-2">
                <label class="input-lable-control nowrap">@Localization.LabelDepartment</label>
            </div>
            <div class="col-md-4" style="margin-bottom: -3px;">        
                <input id="SearchDeprtId" data-id="@DeptId" data-name="@DeptName" />     
                @*<input id="SearchDeprtId"/>*@       
            </div>
            <div class="col-md-2">
                <label class="input-lable-control nowrap">@Localization.LableTypeOfHoliday</label>
            </div>
            <div class="col-md-4" style="margin-bottom: -3px;">
                @Html.DropDownListFor(m => m.SearchHolidayId, lstHoliday, new { @class = "form-control dropdown-toggle selectpicker btn-sm" })
            </div>
        </div>
        <div class="col-md-12"></div>
        <!--Name & Identity-->
        <div>
            <div class="col-md-2">
                <label class="input-lable-control nowrap">@Localization.LabelDoctor</label>
            </div>
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.SearchDoctorId, lstDoctor, new { @class = "form-control dropdown-toggle selectpicker btn-sm" })
            </div>
            <div class="col-md-2">
                <label class="input-lable-control nowrap">@Localization.DateFeast</label>
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.SearchDate, new { @class = "form-control input-sm", @placeholder = @Localization.DateFeast })
            </div>
        </div>    
        <div class="col-md-12"></div>

        <div class="col-md-12 align-center">
            <button class="btn btn-primary" type="button" onclick="return btnSearchClick();">
                <span class="glyphicon glyphicon-search"></span>Tìm kiếm
            </button>
            @if (actUpdate)
            {
                <button type="submit" formnovalidate  class="btn-add btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>
                    @Localization.ButtonAddDisplay
                </button>
            }
            
        </div>
    </div>

</div>

<script type="text/javascript" src="~/Scripts/jquery.maskedinput.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        window.prettyPrint && prettyPrint();
        $('#SearchDate').datepicker({
            format: 'dd/mm/yyyy',
            weekStart: 1
        
        });      
        $.mask.definitions['y'] = '[12]';
        $.mask.definitions['m'] = '[01]';
        $.mask.definitions['d'] = '[0-3]';
        $("#SearchDate").mask("d9/m9/y999", { placeholder: "_" });
        $('.selectpicker').selectpicker({
            style: 'btn btn-default btn-sm',
            size: 5,
        });

        $('#search_form input[type=text]').keyup(function (e) {
            if (e.keyCode == 13)
                btnSearchClick();
        });

        $('.selectpicker, #SearchDeprtId').change(function (e) {
            btnSearchClick();
        });
    });

    $('#SearchDeprtId').Department(
        {
           
        });
    $("#SearchDoctorId").attr("data-live-search", "true");
    function btnSearchClick() {
        OnCriteria(0);
    }

    $('#SearchDeprtId').change(function (e) {
        var dpId = $(this).val();
        var docId = 0;
        $.getJSON('/Users/GetDoctor', { departmentId: dpId, currentDoctorId: docId }, function (data) {
            var result = '';
            for (var i = 0, iL = data.length; i < iL; i++) {
                if (i == 0) {
                    result += '<option value="' + data[i].Value + '">' + '@Html.Raw(Localization.LabelSearchAll)' + '</option>';
                }
                else {


                    if (data[i].Selected == true) {
                        result += '<option value="' + data[i].Value + '" selected = "selected"  >' + data[i].Text + '</option>';
                    } else {

                        result += '<option value="' + data[i].Value + '">' + data[i].Text + '</option>';
                    }
                }
            }          
            $("#SearchDoctorId").html(result);
            $('#SearchDoctorId').selectpicker('refresh');
        });
    });
</script>