@using Resources;
@{
    var ctgType = 1;
}
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrapjs")
<div class="content-wrapper">
    <div id="nav">
        <a title="">@Localization.ManageAutoCalendarTitle.ToUpper()</a> » @ViewBag.Title.ToUpper()
    </div>
    @{
        Html.RenderAction("OnSearch", "ConfigHolidays");
    }
    <div class="page-content">

        <div id="cat_list_render">

            @{
                Html.RenderAction("GetList", "ConfigHolidays", new { type = @ctgType });
            }
        </div>

    </div>

    <div id="add_category_model_container"></div>
    <div id="view_model_container"></div>
</div>
<script type="text/javascript">

    var itemX;
    function btnSearchClick() {
        OnCriteria(0);
    }   
    $('#txt_search_form').keyup(function (e) {
        if (e.keyCode == 13)
        { OnCriteria(0); }

    });


    $(".btn-add").live('click', function (event) {
        var $self = $(this);
        $.get('/ConfigHolidays/OnInsert', { id: 0 }, function (data) {
            var $categoryModel = $('#add_category_model_container');
            $categoryModel.html(data);
            $('#addCategoryModel').modal({
                keyboard: true
            });
        });
        
    });

</script>
@section Scripts {
    @Scripts.Render("~/bundles/bootstrapjs")
}
