@*@inherits System.Web.Mvc.WebViewPage
Luon phai bat dau bang inherits nay*@
@using Resources

@model BachMaiCR.Web.Models.UserResetPasswordModel
<!-- Modal -->
<div class="modal fade" id="ResetPassModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">


            @using (Html.BeginForm(actionName: "ResetPass", controllerName: "Users", routeValues: new { }, method: FormMethod.Post, htmlAttributes: new { @id = "resetpass-form", @class = "", @role = "form", @style = "width: 100%;" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Cấp lại mật khẩu cho người dùng : @Model.USERNAME</h4>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(m => m.ADMIN_USER_ID)
                    <div class="modal-body min-width">
                        <div class="form-group">
                            <div>
                                @Html.LabelFor(m => m.NewPassword)    
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", uifocus = "focus" })
                                @Html.ValidationMessageFor(m => m.NewPassword)
                            </div>
                            <div>
                                @Html.LabelFor(m => m.ConfirmPassword)   
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="modal-footer padding-all">                                     
                    
                    <button type="submit" id="resetpass-form-submit" class="btn btn-primary min-width">@Localization.ButtonSaveDisplay</button>
                     <button type="button" class="btn btn-primary min-width" data-dismiss="modal">@Localization.ButtonCloseDisplay</button>
                </div>
            }
        </div>
    </div>
</div>
<style>
    .Validation_Error
    {
       margin-left:80px;
    }
    .TopDivs
    {
        clear:both;
        vertical-align:top;
        text-align:left;
        margin-bottom: 5px;
        font-family: Arial, Verdana, Tahoma, sans-serif;
        font-size: 12px;
        font-weight:100;
    }
    .modal-title {
        margin: 0;
        font-family: Arial, Verdana, Tahoma, sans-serif;
        font-size: 12px;
        font-weight:bold;
    }
    .modal-header {
     
     padding: 5px 10px 10px;
     
    }
    .modal-footer {
      padding: 5px 10px 10px;
      margin-top: 5px;
      text-align: center;
      border-top: 1px solid #e5e5e5;
    }
    .modal-body {
      position: relative;
      padding:5px 10px 0px 10px;
     
    }
    .form-group {
      margin-bottom: 5px;
    }
    .modal-dialog
    {
        width:550px;
    }
</style>
<script type="text/javascript">
    window.onload = function () {
        var txtBox = document.getElementById("NewPassword");
        if (txtBox != null) {
            txtBox.focus();
        }
    };
    $(document).ready(function () {
        var $resetPassForm = $('#resetpass-form');
        setTimeout(function () { $resetPassForm.find('input:password:visible:first').focus(); }, 500);
        //$resetPassForm.find('input[uifocus="focus"]').focus();
        //$('input[uifocus=focus]').focus();
        function checkstrongpass() {
            var value = $("#NewPassword").val();
            var patt = /(?=^.{6,100}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@@#!$%^&*()_+}{:;'?/>.<,])(?!.*\s)/;
            //return value == null || value == "" || patt.test(value);
            var lableError = $('.field-validation-valid[data-valmsg-for="NewPassword"]');
            lableError.css('color', 'red');
            if (patt.test(value)) {
                lableError.text("");
                return true;
            } else {
                lableError.text("Mật khẩu chưa đủ mạnh");
                return false;
            }
        }

        function checklength() {
            var lableError = $('.field-validation-valid[data-valmsg-for="NewPassword"]');
            lableError.css('color', 'red');
            if ($("#NewPassword").val().length >= 6 && $("#NewPassword").val().length <= 100) {
                lableError.text("");
                return true;
            } else {
                lableError.text("Mật khẩu phải lớn hơn 6 ký tự và nhỏ hơn 100 ký tự ");
                return false;
            }
        }
        
        function confirmPassword() {
            var lableError = $('.field-validation-valid[data-valmsg-for="ConfirmPassword"]');
            lableError.css('color', 'red');
            if ($("#ConfirmPassword").val() != $("#NewPassword").val()) {
                lableError.text("Mật khẩu xác nhận không đúng");
                return false;
            } else {
                lableError.text("");
                return true;
            }
        }
        
        $("#ConfirmPassword").on('change', function (e) {
            confirmPassword();
        });
        
        $("#NewPassword").on('change', function (e) {
            if (checklength()) {
                checkstrongpass();
            } 
        });

        var $resetForm = $("#resetpass-form");
        $resetForm.submit(function (event) {
            event.preventDefault();
            if (checklength() && checkstrongpass() && confirmPassword()) {
                if ($resetForm.valid()) {
                    $.ajax({
                        type: "POST",
                        url: $resetForm.attr('action'),
                        data: $resetForm.serialize(),
                        dataType: '',
                        success: function (response) {
                            if (response != null && response.status == 200) {
                                $('#ResetPassModal').modal('hide');
                                window.notice(response.result, window.notice_success);
                            } else {
                                window.notice(response.result, window.notice_error);
                            }
                        }
                    });
                } else {
                    window.notice("Phải nhập thông tin trên form", window.notice_warning);
                }
            } else {
                window.notice("Kiểm tra thông tin trên form", window.notice_warning);
            }
        });
    });

</script>
