@using Resources;
@using BachMaiCR.DBMapping.Models;
@using BachMaiCR.Utilities.Enums;
@{   
    string LabelFeast = Resources.Localization.LabelFeast;  
    ViewBag.Title = "Danh mục " + LabelFeast;
    var strName = "Tên " + LabelFeast;
    var actUpdate = (bool)ViewBag.ActionUpdate;
}


<div class="content-wrapper">
    <div id="nav">
        <a title="">@Localization.ManageCategorysTitle.ToUpper()</a> » @ViewBag.Title.ToUpper()
    </div>
    <div id="search_form" class="row">
        <div class="col-md-12">
            <div class="input-group">
                <span class="input-group-addon">@LabelFeast</span>
                <input type="text" id="txt_search_form" autocomplete="off" class="input-text form-control input-sm" placeholder="@Localization.InputTextSearch" />
            </div>
        </div>
        <div class="col-md-12 align-center">
            <button class="btn btn-primary" type="button" onclick="return btnSearchClick();">
                <span class="glyphicon glyphicon-search"></span>@Resources.Localization.Search
            </button>
@if (actUpdate)
            {
            <button type="submit" class="btn-add btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span>
                @Localization.ButtonAddDisplay
            </button>
}
        </div>
    </div>
    <div class="page-content">
        <div style="margin-right:5px">
            <div id="cat_list_render">
                @{
                    Html.RenderAction("GetCategoryList", "Feast");
                }
            </div>
        </div>
    </div>
</div>

<div id="add_category_model_container"></div>
<script type="text/javascript">

    var itemX;


    function btnSearchClick() {
        OnCriteria(0);
    }

    $(document).ready(function () {
        $(".btn-add").live('click', function (event) {
            $.get('/Feast/OnInsert', function (data) {
                var $categoryModel = $('#add_category_model_container');
                $categoryModel.html(data);
                $('#addCategoryModel').modal({
                    keyboard: true
                });
            });
        });
    });


    $('#txt_search_form').keyup(function(e){
        if(e.keyCode == 13)
        {OnCriteria(0);}

    });



</script>
@section Scripts {
    @Scripts.Render("~/bundles/bootstrapjs")
    @Scripts.Render("~/bundles/underscore")
}
