@using Resources;
@{
    var ctgType = 1;
}
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrapjs")
<div class="content-wrapper">
  
    <div id="nav">
        <table border="0" style="width:100%">
            <tr>
                <td style="width:65%">
                    <div style="margin-top:-3px;">
                        <a href="#" title=""> @Resources.Localization.ManagerAdminTitle.ToUpper()</a> »  @ViewBag.Title.ToUpper()
                    </div>
                </td>
                <td>
                    <div style=" float: right; width: 200px; height: 20px; text-align: center;" class="bgList">@Resources.Localization.LableSMSWarning</div>
                </td>


            </tr>
        </table>

    </div>
    @{
        Html.RenderAction("OnSearch", "ConfigSMS");
    }
    <div class="page-content">

        <div id="cat_list_render">
            @{
                Html.RenderAction("GetList", "ConfigSMS", new { type = @ctgType });
            }
        </div>

    </div>

    <div id="add_category_model_container"></div>
    <div id="view_model_container"></div>
</div>
<script type="text/javascript">

    var itemX;
    function btnSearchClick() {
        OnCriteria(0);
    }   
    $('#txt_search_form').keyup(function (e) {
        if (e.keyCode == 13)
        { OnCriteria(0); }

    });


    $(".btn-add").live('click', function (event) {
        var $self = $(this);
        $.get('/ConfigSMS/OnInsert', { id: 0 }, function (data) {
            var $categoryModel = $('#add_category_model_container');
            $categoryModel.html(data);
            $('#addCategoryModel').modal({
                keyboard: true
            });
        });
        
    });

</script>
@section Scripts {
    @Scripts.Render("~/bundles/bootstrapjs")
}
