@using Resources
@model BachMaiCR.Web.Models.LocalPasswordModel
@{
    ViewBag.Title = Localization.ChangePasswordTitle;
}
<div class="login-form">
    <div class="login-form-header">
        @Localization.ChangePasswordTitle @User.Identity.Name
    </div>
    <div class="login-form-body">
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            @Html.LabelFor(m => m.OldPassword, htmlAttributes: new {@class = "label-title"})
            @Html.PasswordFor(m => m.OldPassword, htmlAttributes: new {@class = "input-text form-control"})
            @Html.ValidationMessageFor(m => m.OldPassword)
            @Html.LabelFor(m => m.NewPassword, htmlAttributes: new {@class = "label-title"})
            @Html.PasswordFor(m => m.NewPassword, htmlAttributes: new {@class = "input-text form-control"})
            @Html.ValidationMessageFor(m => m.NewPassword)
            @Html.LabelFor(m => m.ConfirmPassword, htmlAttributes: new {@class = "label-title"})
            @Html.PasswordFor(m => m.ConfirmPassword, htmlAttributes: new {@class = "input-text form-control"})
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
            <div class="clear"></div>
            <button type="submit" class="btn btn-danger" >@Localization.ChangePasswordTitle</button>
            <a href="@ViewBag.ReturnUrl">@Localization.Back</a>
        }
    </div>
</div>
