@model BachMaiCR.Web.Models.RegisterModel
@using Resources
@{
    ViewBag.Title = Localization.ForgotPasswordTitle;
}
<div class="login-form">
    <div class="login-form-header">
        @Localization.ForgotPasswordTitle
    </div>
    <div class="login-form-body">
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            @Html.LabelFor(m => m.UserName, htmlAttributes:new {@class = "label-title"})
            @Html.TextBoxFor(m => m.UserName, htmlAttributes:new {@class = "input-text form-control"})
            @Html.ValidationMessageFor(m => m.UserName)
            <div class="clear margin-top-10"></div>
            <button type="submit" formnovalidate  class="btn btn-primary min-width">@Localization.ForgotPasswordButton</button>
            <p class="help-block font-italic font-12 text-justify">
                @Localization.ForgotPasswordTip
            </p>
        }
    </div>
</div>