@using Resources
@model BachMaiCR.Web.Models.LocalPasswordModel
@{
    ViewBag.Title = Localization.ResetPasswordTitle;
}

<div class="login-form">
    <div class="login-form-header">
        @Localization.ResetPasswordTitle
    </div>
    <div class="login-form-body">
        @using (Html.BeginForm(new {user= ViewBag.User, token = ViewBag.Token}))
        {
            @Html.AntiForgeryToken()
            @Html.LabelFor(m => m.NewPassword, htmlAttributes:new {@class = "label-title"})
            @Html.PasswordFor(m => m.NewPassword, htmlAttributes:new {@class = "input-text form-control"})
            @Html.ValidationMessageFor(m => m.NewPassword)
            @Html.LabelFor(m => m.ConfirmPassword, htmlAttributes:new {@class = "label-title"})
            @Html.PasswordFor(m => m.ConfirmPassword, htmlAttributes:new {@class = "input-text form-control"})
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
            <div class="clear"></div>
            <button class="btn btn-primary min-width" type="submit">@Localization.ResetPasswordTitle</button>
            <a href="/home/index">@Localization.HomePage</a>
            <p class="text-justify font-italic font-11 margin-top-10">
                @Localization.ResetPasswordTip
            </p>
        }
    </div>
</div>
