@using BachMaiCR.DBMapping.Models;
@using BachMaiCR.DataAccess;
@using BachMaiCR.Utilities.Enums;
@Scripts.Render("~/bundles/jqueryui")
@{
    ViewBag.Title = @Resources.Localization.TitleCreateCalendar;
}
<script>
    $(document).ready(function (e) {

        var $page_nav_content = $('#page-nav-content');

        $page_nav_content.css('overflow-x', "visible");
    });

</script>
<div class="content" style="width:98%">
    <div class="clear"></div>

    <table style="width:100%">
        <tr>
            <td style="height:40px;">
                <div id="nav">
                    <table border="0" style="width:100%">
                        <tr>
                            <td style="width:65%">
                                <div style="margin-top:-3px;">
                                    <a href="/CalendarDuty" title=""> @Resources.Localization.ManageCalendarDutyTitle.ToUpper()</a> »  @ViewBag.Title.ToUpper()
                                </div>
                            </td>
                            <td>
                                <table border="0" style="width:100%;margin-top:10px; border-spacing:0px 0px;border-collapse: separate;">
                                    <tr>
                                        <td style="width:100px;background:#b6ff00"></td>
                                        <td style="text-align:left;width:100px; color:#302f2f"> <strong> Đổi lịch trực</strong></td>
                                        <td style="width:100px;background:#d5f76e;"></td>
                                        <td style="text-align:left;width:155px;color:#302f2f"> <strong> Bổ sung lịch trực</strong></td>
                                        <td style="text-align:left"></td>
                                    </tr>
                                </table>
                            </td>


                        </tr>
                    </table>

                </div>
            </td>
        </tr>


        <tr>
            <td>
                @Html.Partial("~/Views/CalendarDuty/_AddCalendarDutyInfo.cshtml")
            </td>
        </tr>
        <tr>
            <td>


                <div id="loadTemplate">
                    @{
                        ADMIN_USER objUser = new UnitOfWork().Users.GetByUserName(User.Identity.Name);
                        List<TEMPLATE> templateList = new UnitOfWork().Templates.GetListByDate(Convert.ToInt32(objUser.LM_DEPARTMENT_ID), DateTime.Now, Convert.ToInt32(TemplateStatus.Aproved));
                        if (templateList.Count > 0)
                        {
                            Html.RenderAction("LoadTemplate", "CalendarDuty", new { strDate = "-1_" + DateTime.Now.Month + "_" + DateTime.Now.Year, idTemplate = templateList[0].TEMPLATES_ID });
                        }
                        else
                        {
                            Html.RenderAction("LoadTemplate", "CalendarDuty");

                        }
                    }

                </div>
            </td>
        </tr>
    </table>

</div>
<div id="view_model_container">
</div>

