@using BachMaiCR.DBMapping.Models;
@using BachMaiCR.DBMapping.ModelsExt;
@using BachMaiCR.DataAccess;
@using Resources
<link type="text/css" href="~/Content/fixheader/fixtable.css" rel="stylesheet" />
<style>
    .schedule-DB
    {
        width:0px;
    }
    #nav {
         background-position: 0px 9px;
    }
    .item-schedule {
        text-align: left;
    }
</style>
<div id="isExist">
@{
  
    string titlePopup = Localization.DoctorDetail;
    var times = ViewBag.times as List<TimeCalendarDuty>;
    ViewBag.Title = Resources.Localization.TitleEditCalendar;
    var objCalendarDuty = ViewBag.objCalendarDuty as CALENDAR_DUTY;
    var listDoctor = ViewBag.doctors as List<DoctorCalendar>;
    int idTemplatex = 0;
    int idWeek = ViewBag.idWeek;
    int types = ViewBag.types;
    int idCalendarDuty = Convert.ToInt32(ViewBag.idCalendarDuty);
    string listColumn = "";
    int idDepartment = ViewBag.idDepartment;
    List<SelectListItem> tmpWeek = new List<SelectListItem>();
    tmpWeek.Add(new SelectListItem() { Text = Resources.Localization.StatusALL, Value = "-1", Selected = true });
    for (int i = 0; i <= 3; i++)
    {
        tmpWeek.Add(new SelectListItem() { Text = "Tuần " + (i + 1).ToString(), Value = i.ToString(), Selected = false });
    }

    var DATE_WEEK = new SelectList(tmpWeek, "Value", "Text", ViewBag.idWeek);
    if (objCalendarDuty.TEMPLATES_ID != null)
    {
        int.TryParse(objCalendarDuty.TEMPLATES_ID.ToString(), out idTemplatex);
        List<TEMPLATE_COLUM> templateColumnList = new UnitOfWork().TemplatesColumn.GetColumnByIDTemplate(idTemplatex, idDepartment).ToList();
        List<CALENDAR_CHANGE> listCalendarChange = new UnitOfWork().CalendarChanges.GetListChangeCalendar(Convert.ToInt32(idCalendarDuty));
        List<CALENDAR_CHANGE> listCalendarChangeChild = new List<CALENDAR_CHANGE>();
        CALENDAR_CHANGE objChangcheck = new CALENDAR_CHANGE();
        List<CALENDAR_CHANGE> objChangDelete = new List<CALENDAR_CHANGE>();
        List<CALENDAR_CHANGE> objChangeChange = new List<CALENDAR_CHANGE>();
        var columnx = "";
        var nodeOld = "";
        int countRow = 0;

        string idItemChange = "";
        string idItemS = "";
        int randomNumber = 0;
        string data_vt = "";
        List<CALENDAR_CHANGE> ListCalendarChangeALL = new List<CALENDAR_CHANGE>();
        ListCalendarChangeALL = new UnitOfWork().CalendarChanges.GetAll().ToList();

        string data_changesend = "";
        
       <div class="content">
             <div class="clear"></div>
           
  <table style="width:100%;border:0px">
   <tr>
           <td>
 
    
 
<div id="grid">
     <div style="height:500px;overflow:auto" class="grid_4 height500">


     <table class="fancyTable" id="selectable"  cellspacing="0" style="width:@(templateColumnList.Count * 180 + 200)px">
         <thead>
            <tr>
                 <th style="width:70px"> @Localization.DayText</th>
                 <th  style="width:90px">  @Localization.DateText</th>
                   @for (int i = 0; i < templateColumnList.Count; i++)
                   {
                       listColumn = listColumn + "_" + templateColumnList[i].TEMPLATE_COLUM_ID.ToString();
                        <th  style="width:155px"> @templateColumnList[i].COLUM_NAME </th>
                      
                   }
               
            </tr>
         </thead>
         <tbody>
          
           @for (int j = 0; j < times.Count; j++)
           {
               DateTime datetime = times[j].DATES;
               if (times[j].DAYS.Equals("Chủ nhật") == false)
               {
                <tr>
                   <td  style="width:70px;height:50px">
                         @times[j].DAYS                           
                      </td>  
                    <td  style="width:90px;text-align:center">
                       @String.Format("{0:d/M/yyyy}", times[j].DATES)      
                    </td>
                      @for (int k = 0; k < templateColumnList.Count; k++)
                      {
                          //truong hop Them moi style="background:#d5f76e"
                          //truong hop xoa  style="text-decoration:line-through;color:#ff0000"
                          countRow = 0;
                          columnx = templateColumnList[k].TEMPLATE_COLUM_ID + "," + String.Format("{0:d/M/yyyy}", times[j].DATES);
                          <td class="item-schedule" style="width:155px;"   id="@columnx">
                                 @for (int tt = 0; tt < listDoctor.Count; tt++)
                                 {
                                     idItemS = datetime.Ticks + listDoctor[tt].DOCTORS_ID.ToString() + listDoctor[tt].TEMPLATE_COLUM_ID;
                                     if ((times[j].DATES == Convert.ToDateTime(listDoctor[tt].DATE_START)) && (templateColumnList[k].TEMPLATE_COLUM_ID == listDoctor[tt].TEMPLATE_COLUM_ID))
                                     {
                                         countRow++;
                                         nodeOld = templateColumnList[k].TEMPLATE_COLUM_ID + "," + String.Format("{0:d/M/yyyy}", times[j].DATES) + "_" + listDoctor[tt].DOCTORS_ID;
                                         objChangcheck = new CALENDAR_CHANGE();
                                         objChangcheck.CALENDAR_DUTY_ID = Convert.ToInt32(idCalendarDuty);
                                         objChangcheck.DATE_START = times[j].DATES;
                                         objChangcheck.TEMPLATE_COLUMN_ID = templateColumnList[k].TEMPLATE_COLUM_ID;
                                         objChangcheck.DOCTORS_ID = listDoctor[tt].DOCTORS_ID;
                                         objChangDelete = ListCalendarChangeALL.Where(o => o.CALENDAR_DUTY_ID == objChangcheck.CALENDAR_DUTY_ID && o.TEMPLATE_COLUMN_ID == objChangcheck.TEMPLATE_COLUMN_ID && o.DOCTORS_ID == objChangcheck.DOCTORS_ID && o.DATE_START == objChangcheck.DATE_START && o.STATUS == 2 && ((o.STATUS_APPROVED == 1) || (o.STATUS_APPROVED == 2))).ToList();
                                         objChangeChange = ListCalendarChangeALL.Where(o => o.CALENDAR_DUTY_ID == objChangcheck.CALENDAR_DUTY_ID && o.TEMPLATE_COLUMN_ID == objChangcheck.TEMPLATE_COLUMN_ID && o.DOCTORS_ID == objChangcheck.DOCTORS_ID && o.DATE_START == objChangcheck.DATE_START && o.STATUS == 1 && ((o.STATUS_APPROVED == 1) || (o.STATUS_APPROVED == 2))).ToList();

                                         if ((objChangDelete.Count > 0) || (objChangeChange.Count > 0))
                                         {
                                             if (objChangDelete.Count > 0)
                                             {
                                                 data_vt = String.Format("{0:dd/MM/yyyy}", datetime) + listDoctor[tt].DOCTORS_ID.ToString() + listDoctor[tt].TEMPLATE_COLUM_ID;
                                                     <div class="schedule-elementDelete"  data-Row="@countRow.ToString()"   data-duty="@idCalendarDuty" data-column="@templateColumnList[k].TEMPLATE_COLUM_ID" data-date="@String.Format("{0:d/M/yyyy}", times[j].DATES)" data-name="@listDoctor[tt].ABBREVIATION"  data-vt="@data_vt"   title="Hủy trực"   style="background:#D0DAFD;text-decoration:line-through;color:#ff0000;max-width:100px; padding-left:3px;" id="@listDoctor[tt].DOCTORS_ID.ToString()" data-isDelete="1">
                                                         <span class="viewInfor"  data-Row="@countRow.ToString()" id="@listDoctor[tt].DOCTORS_ID.ToString()"> @listDoctor[tt].ABBREVIATION.ToString() </span>  <span class="element-close fa fa-rotate-left"   data-duty="@idCalendarDuty" data-column="@templateColumnList[k].TEMPLATE_COLUM_ID" data-date="@String.Format("{0:d/M/yyyy}", times[j].DATES)" data-name="@listDoctor[tt].ABBREVIATION"  data-vt="@data_vt"  title="Khôi phục lịch trực"   onclick="scheduleCancelDelClick(this,1)"></span></div>
                                                     <div class="schedule-DB" data-Oldx="@nodeOld"></div>
                                             }
                                             if (objChangeChange.Count > 0)
                                             {
                                                 if (objChangeChange[0].DATE_CHANGE_START != null)
                                                 {
                                                     data_vt = String.Format("{0:dd/MM/yyyy}", datetime) + listDoctor[tt].DOCTORS_ID.ToString() + listDoctor[tt].TEMPLATE_COLUM_ID;
                                                     idItemChange = objChangeChange[0].DATE_CHANGE_START.Value.Ticks + objChangeChange[0].DOCTORS_CHANGE_ID.ToString() + objChangeChange[0].COLUMN_CHANGE_ID;
                                                     data_changesend = String.Format("{0:d/M/yyyy}", objChangeChange[0].DATE_CHANGE_START) + "_" + objChangeChange[0].DOCTORS_CHANGE_ID + "_" + objChangeChange[0].COLUMN_CHANGE_ID;
                                                     <div class="schedule-elementChangeTwo" data-date="@String.Format("{0:d/M/yyyy}", times[j].DATES)" data-name="@listDoctor[tt].ABBREVIATION" data-vt="@data_vt"  data-column="@templateColumnList[k].TEMPLATE_COLUM_ID" data-duty="@idCalendarDuty"    data-changesend="@data_changesend" data-changename="@objChangeChange[0].DOCTORS_CHANGE_NAME" data-idChangeDoctor="@objChangeChange[0].DOCTORS_CHANGE_ID.ToString()" data-Row="@countRow.ToString()"  data-idChange="@idItemChange"  data-idStart="@idItemS"  title="Đổi lịch trực"   style="background:#b6ff00; padding-left:3px;max-width:100px;"   id="@listDoctor[tt].DOCTORS_ID.ToString()">
                                                          <span class="viewInfor" data-ChangeText="@listDoctor[tt].ABBREVIATION"  data-Row="@countRow.ToString()" id="@listDoctor[tt].DOCTORS_ID.ToString()"> @listDoctor[tt].ABBREVIATION </span>
                                                         <img src="~/Images/Forward_Arrow.png" style="width:12px; height:12px;" /> 
                                                         <span class="viewInfor"  data-Row="@countRow.ToString()"  data-viewx="1" id="@objChangeChange[0].DOCTORS_CHANGE_ID.ToString()">  @objChangeChange[0].DOCTORS_CHANGE_NAME</span> <span class="element-close fa fa-rotate-left" title="Hủy đổi lịch trực" id="@idItemS" onclick="scheduleCancelClick(this,1)"></span>

                                                     </div>
                                                     <div class="schedule-DB" data-Oldx="@nodeOld"></div>
                                                 }
                                                 else
                                                 {
                                                     Random random = new Random();
                                                     randomNumber = random.Next(0, 10000);
                                                     data_vt = String.Format("{0:dd/MM/yyyy}", datetime) + listDoctor[tt].DOCTORS_ID.ToString() + listDoctor[tt].TEMPLATE_COLUM_ID;
                                                     idItemChange = randomNumber + objChangeChange[0].DOCTORS_CHANGE_ID.ToString() + objChangeChange[0].COLUMN_CHANGE_ID;
                                                     <div class="schedule-elementChangeOne" data-name="@listDoctor[tt].ABBREVIATION"  data-date="@String.Format("{0:d/M/yyyy}", times[j].DATES)"   data-duty="@idCalendarDuty"  data-column="@templateColumnList[k].TEMPLATE_COLUM_ID"  data-vt="@data_vt" data-changename="@objChangeChange[0].DOCTORS_CHANGE_NAME" data-idChangeDoctor="@objChangeChange[0].DOCTORS_CHANGE_ID.ToString()" data-Row="@countRow.ToString()"  data-idChange="@idItemChange"  data-idStart="@idItemS"  title="Đổi lịch trực"   style="background:#b6ff00; padding-left:3px;max-width:100px;"   id="@listDoctor[tt].DOCTORS_ID.ToString()">
                                                          <span class="viewInfor" data-ChangeText="@listDoctor[tt].ABBREVIATION"  data-Row="@countRow.ToString()" id="@listDoctor[tt].DOCTORS_ID.ToString()"> @listDoctor[tt].ABBREVIATION </span>
                                                         <img src="~/Images/Forward_Arrow.png" style="width:12px; height:12px;" /> 
                                                         <span class="viewInfor"  data-Row="@countRow.ToString()"  data-viewx="1" id="@objChangeChange[0].DOCTORS_CHANGE_ID.ToString()">  @objChangeChange[0].DOCTORS_CHANGE_NAME</span> <span class="element-close fa fa-rotate-left" title="Hủy đổi lịch trực" id="@idItemS" onclick="scheduleCancelClick(this,0)"></span></div>
                                                     <div class="schedule-DB" data-Oldx="@nodeOld"></div>
                                                 
                                                 }
                                             }

                                         }
                                         else
                                         {
                                             if (objCalendarDuty.ISAPPROVED == 1)
                                             {
                                                 data_vt = String.Format("{0:dd/MM/yyyy}", datetime) + listDoctor[tt].DOCTORS_ID.ToString() + listDoctor[tt].TEMPLATE_COLUM_ID;
                                                <div class="schedule-elementView" data-vt="@data_vt"  data-Row="@countRow.ToString()" data-name="@listDoctor[tt].ABBREVIATION" data-date="@String.Format("{0:d/M/yyyy}", times[j].DATES)"  data-column="@templateColumnList[k].TEMPLATE_COLUM_ID" data-duty="@idCalendarDuty"  style="background:#D0DAFD; padding-left:3px;max-width:100px;height:40px" id="@listDoctor[tt].DOCTORS_ID.ToString()"> <span class="viewInfor"  data-Row="@countRow.ToString()" id="@listDoctor[tt].DOCTORS_ID.ToString()"> @listDoctor[tt].ABBREVIATION   </span> 
                                                <span class="element-close fa fa-times-circle" title="Hủy trực" onclick="scheduleCloseClick(this)"></span>
                                                <span id="@listDoctor[tt].DOCTORS_ID.ToString()" data-name="@listDoctor[tt].ABBREVIATION" data-date="@String.Format("{0:d/M/yyyy}", times[j].DATES)"  data-column="@templateColumnList[k].TEMPLATE_COLUM_ID" data-duty="@idCalendarDuty" class="element-change fa fa-pencil-square fa-lg" title="Đổi lịch trực"></span> </div>
                                                <div class="schedule-DB" data-Oldx="@nodeOld"></div>
                                             }
                                             else
                                             {
                                                 <div class="schedule-elementView"  data-Row="@countRow.ToString()"  style="background:#D0DAFD; padding-left:3px;max-width:100px;" id="@listDoctor[tt].DOCTORS_ID.ToString()"> <span class="viewInfor"  data-Row="@countRow.ToString()" id="@listDoctor[tt].DOCTORS_ID.ToString()"> @listDoctor[tt].ABBREVIATION   </span> 
                                                 <span class="element-close fa fa-times-circle" title="Hủy trực" onclick="scheduleCloseClick(this)"></span></div>
                                                 <div class="schedule-DB" data-Oldx="@nodeOld"></div>
                                             }
                                         }

                                     }

                                 }
                                 @{ listCalendarChangeChild = listCalendarChange.Where(o => o.TEMPLATE_COLUMN_ID == templateColumnList[k].TEMPLATE_COLUM_ID && o.DATE_START == times[j].DATES && o.STATUS == 3).ToList();
                                    }
                                 
                                 @for (int x = 0; x < listCalendarChangeChild.Count; x++)
                                 {
                                     countRow++;
                                     nodeOld = templateColumnList[k].TEMPLATE_COLUM_ID + "," + String.Format("{0:d/M/yyyy}", times[j].DATES) + "_" + listCalendarChangeChild[x].DOCTORS_ID;    
                                            <div class="schedule-element-NewX" style="background:#d5f76e; padding-left:3px;max-width:100px;"  title="Bổ sung lịch trực"  data-Row="@countRow.ToString()" id="@listCalendarChangeChild[x].DOCTORS_ID"><span class="viewInfor"  data-Row="@countRow.ToString()" id="@listCalendarChangeChild[x].DOCTORS_ID.ToString()"> @listCalendarChangeChild[x].DOCTORS_NAME </span>  <span class="element-close fa fa-times-circle" title="Hủy trực" onclick="scheduleDeleteNewClick(this)"/></div>
                                            <div class="schedule-DB" data-Oldx="@nodeOld"></div>
                                 }
                                  
                            </td>
                      }
                   </tr>
               }
               else
               {
                   // Chủ nhật
                <tr class="sundayCalendar">
                    <td style="width:70px;height:50px; background-color: #f3f7c9;">
                        @times[j].DAYS
                    </td>
                    <td style="width:90px;text-align:center; background-color: #f3f7c9;">
                        @String.Format("{0:d/M/yyyy}", times[j].DATES)
                    </td>
                    @for (int k = 0; k < templateColumnList.Count; k++)
                    {
                        countRow = 0;
                        columnx = templateColumnList[k].TEMPLATE_COLUM_ID + "," + String.Format("{0:d/M/yyyy}", times[j].DATES);
                        <td class="item-schedule" style="width:155px; background-color: #f3f7c9;" id="@columnx">
                            @for (int tt = 0; tt < listDoctor.Count; tt++)
                            {
                                idItemS = datetime.Ticks + listDoctor[tt].DOCTORS_ID.ToString() + listDoctor[tt].TEMPLATE_COLUM_ID;
                                if ((times[j].DATES == Convert.ToDateTime(listDoctor[tt].DATE_START)) && (templateColumnList[k].TEMPLATE_COLUM_ID == listDoctor[tt].TEMPLATE_COLUM_ID))
                                {

                                    countRow++;
                                    nodeOld = templateColumnList[k].TEMPLATE_COLUM_ID + "," + String.Format("{0:d/M/yyyy}", times[j].DATES) + "_" + listDoctor[tt].DOCTORS_ID;
                                    objChangcheck = new CALENDAR_CHANGE();
                                    objChangcheck.CALENDAR_DUTY_ID = Convert.ToInt32(idCalendarDuty);
                                    objChangcheck.DATE_START = times[j].DATES;
                                    objChangcheck.TEMPLATE_COLUMN_ID = templateColumnList[k].TEMPLATE_COLUM_ID;
                                    objChangcheck.DOCTORS_ID = listDoctor[tt].DOCTORS_ID;
                                    objChangDelete = ListCalendarChangeALL.Where(o => o.CALENDAR_DUTY_ID == objChangcheck.CALENDAR_DUTY_ID && o.TEMPLATE_COLUMN_ID == objChangcheck.TEMPLATE_COLUMN_ID && o.DOCTORS_ID == objChangcheck.DOCTORS_ID && o.DATE_START == objChangcheck.DATE_START && o.STATUS == 2 && ((o.STATUS_APPROVED == 1) || (o.STATUS_APPROVED == 2))).ToList();
                                    objChangeChange = ListCalendarChangeALL.Where(o => o.CALENDAR_DUTY_ID == objChangcheck.CALENDAR_DUTY_ID && o.TEMPLATE_COLUMN_ID == objChangcheck.TEMPLATE_COLUMN_ID && o.DOCTORS_ID == objChangcheck.DOCTORS_ID && o.DATE_START == objChangcheck.DATE_START && o.STATUS == 1 && ((o.STATUS_APPROVED == 1) || (o.STATUS_APPROVED == 2))).ToList();
                                    if ((objChangDelete.Count > 0) || (objChangeChange.Count > 0))
                                    {
                                        if (objChangDelete.Count > 0)
                                        {
                                            data_vt = String.Format("{0:dd/MM/yyyy}", datetime) + listDoctor[tt].DOCTORS_ID.ToString() + listDoctor[tt].TEMPLATE_COLUM_ID;
                                            <div class="schedule-elementDelete" data-row="@countRow.ToString()" data-duty="@idCalendarDuty" data-column="@templateColumnList[k].TEMPLATE_COLUM_ID" data-date="@String.Format("{0:d/M/yyyy}", times[j].DATES)" data-name="@listDoctor[tt].ABBREVIATION" data-vt="@data_vt" title="Hủy trực" style="background:#D0DAFD;text-decoration:line-through;color:#ff0000;max-width:100px; padding-left:3px;" id="@listDoctor[tt].DOCTORS_ID.ToString()" data-isdelete="1">
                                                <span class="viewInfor" data-row="@countRow.ToString()" id="@listDoctor[tt].DOCTORS_ID.ToString()"> @listDoctor[tt].ABBREVIATION.ToString() </span>  <span class="element-close fa fa-rotate-left" data-duty="@idCalendarDuty" data-column="@templateColumnList[k].TEMPLATE_COLUM_ID" data-date="@String.Format("{0:d/M/yyyy}", times[j].DATES)" data-name="@listDoctor[tt].ABBREVIATION" data-vt="@data_vt" title="Khôi phục lịch trực" onclick="scheduleCancelDelClick(this,1)" />
                                            </div>
                                            <div class="schedule-DB" data-oldx="@nodeOld"></div>

                                        }
                                        if (objChangeChange.Count > 0)
                                        {
                                            if (objChangeChange[0].DATE_CHANGE_START != null)
                                            {
                                                data_changesend = String.Format("{0:d/M/yyyy}", objChangeChange[0].DATE_CHANGE_START) + "_" + objChangeChange[0].DOCTORS_CHANGE_ID + "_" + objChangeChange[0].COLUMN_CHANGE_ID;

                                                data_vt = String.Format("{0:dd/MM/yyyy}", datetime) + listDoctor[tt].DOCTORS_ID.ToString() + listDoctor[tt].TEMPLATE_COLUM_ID;
                                                idItemChange = objChangeChange[0].DATE_CHANGE_START.Value.Ticks + objChangeChange[0].DOCTORS_CHANGE_ID.ToString() + objChangeChange[0].COLUMN_CHANGE_ID;
                                                <div class="schedule-elementChangeTwo" data-date="@String.Format("{0:d/M/yyyy}", times[j].DATES)" data-name="@listDoctor[tt].ABBREVIATION" data-vt="@data_vt" data-column="@templateColumnList[k].TEMPLATE_COLUM_ID" data-duty="@idCalendarDuty" data-changesend="@data_changesend" data-changename="@objChangeChange[0].DOCTORS_CHANGE_NAME" data-idchangedoctor="@objChangeChange[0].DOCTORS_CHANGE_ID.ToString()" data-row="@countRow.ToString()" data-idchange="@idItemChange" data-idstart="@idItemS" title="Đổi lịch trực" style="background:#b6ff00; padding-left:3px;max-width:100px;" id="@listDoctor[tt].DOCTORS_ID.ToString()">

                                                    <span class="viewInfor" data-changetext="@listDoctor[tt].ABBREVIATION" data-row="@countRow.ToString()" id="@listDoctor[tt].DOCTORS_ID.ToString()"> @listDoctor[tt].ABBREVIATION</span>
                                                    <span> <img src="~/Images/Forward_Arrow.png" style="width:12px; height:12px;" />  </span>
                                                    <span class="viewInfor" data-viewx="1" data-row="@countRow.ToString()" id="@objChangeChange[0].DOCTORS_CHANGE_ID.ToString()">  @objChangeChange[0].DOCTORS_CHANGE_NAME </span><span class="element-close fa fa-rotate-left" title="Hủy đổi lịch trực" onclick="scheduleCancelClick(this,1)" />
                                                </div>
                                                <div class="schedule-DB" data-oldx="@nodeOld"></div>
                                            }
                                            else
                                            {
                                                Random random = new Random();
                                                randomNumber = random.Next(0, 10000);
                                                data_vt = String.Format("{0:dd/MM/yyyy}", datetime) + listDoctor[tt].DOCTORS_ID.ToString() + listDoctor[tt].TEMPLATE_COLUM_ID;
                                                idItemChange = randomNumber + objChangeChange[0].DOCTORS_CHANGE_ID.ToString() + objChangeChange[0].COLUMN_CHANGE_ID;
                                                <div class="schedule-elementChangeOne" data-date="@String.Format("{0:d/M/yyyy}", times[j].DATES)" data-name="@listDoctor[tt].ABBREVIATION" data-duty="@idCalendarDuty" data-column="@templateColumnList[k].TEMPLATE_COLUM_ID" data-vt="@data_vt" data-changename="@objChangeChange[0].DOCTORS_CHANGE_NAME" data-idchangedoctor="@objChangeChange[0].DOCTORS_CHANGE_ID.ToString()" data-row="@countRow.ToString()" data-idchange="@idItemChange" data-idstart="@idItemS" title="Đổi lịch trực" style="background:#b6ff00; padding-left:3px;max-width:100px;" id="@listDoctor[tt].DOCTORS_ID.ToString()">
                                                    <span class="viewInfor" data-changetext="@listDoctor[tt].ABBREVIATION" data-row="@countRow.ToString()" id="@listDoctor[tt].DOCTORS_ID.ToString()"> @listDoctor[tt].ABBREVIATION </span>
                                                    <img src="~/Images/Forward_Arrow.png" style="width:12px; height:12px;" />
                                                    <span class="viewInfor" data-row="@countRow.ToString()" data-viewx="1" id="@objChangeChange[0].DOCTORS_CHANGE_ID.ToString()">  @objChangeChange[0].DOCTORS_CHANGE_NAME</span> <span class="element-close fa fa-rotate-left" title="Hủy đổi lịch trực" id="@idItemS" onclick="scheduleCancelClick(this,0)" />
                                                </div>
                                                <div class="schedule-DB" data-oldx="@nodeOld"></div>


                                            }



                                        }

                                    }
                                    else
                                    {
                                        if (objCalendarDuty.ISAPPROVED == 1)
                                        {
                                            data_vt = String.Format("{0:dd/MM/yyyy}", datetime) + listDoctor[tt].DOCTORS_ID.ToString() + listDoctor[tt].TEMPLATE_COLUM_ID;

                                            <div class="schedule-elementView" data-duty="@idCalendarDuty" data-column="@templateColumnList[k].TEMPLATE_COLUM_ID" data-vt="@data_vt" data-row="@countRow.ToString()" data-name="@listDoctor[tt].ABBREVIATION" data-date="@String.Format("{0:d/M/yyyy}", times[j].DATES)" style="background:#D0DAFD; padding-left:3px;max-width:100px;height:40px" id="@listDoctor[tt].DOCTORS_ID.ToString()">
                                                <span class="viewInfor" data-row="@countRow.ToString()" id="@listDoctor[tt].DOCTORS_ID.ToString()"> @listDoctor[tt].ABBREVIATION   </span>
                                                <span class="element-close fa fa-times-circle" title="Hủy trực" onclick="scheduleCloseClick(this)"></span>
                                                <span id="@listDoctor[tt].DOCTORS_ID.ToString()" data-name="@listDoctor[tt].ABBREVIATION" data-date="@String.Format("{0:d/M/yyyy}", times[j].DATES)" data-column="@templateColumnList[k].TEMPLATE_COLUM_ID" data-duty="@idCalendarDuty" class="element-change fa fa-pencil-square fa-lg" title="Đổi lịch trực"></span>
                                            </div>
                                            <div class="schedule-DB" data-oldx="@nodeOld"></div>
                                        }
                                        else
                                        {
                                            <div class="schedule-elementView" data-row="@countRow.ToString()" style="background:#D0DAFD; padding-left:3px;max-width:100px;" id="@listDoctor[tt].DOCTORS_ID.ToString()">
                                                <span class="viewInfor" data-row="@countRow.ToString()" id="@listDoctor[tt].DOCTORS_ID.ToString()"> @listDoctor[tt].ABBREVIATION   </span>
                                                <span class="element-close fa fa-times-circle" title="Hủy trực" onclick="scheduleCloseClick(this)"></span>
                                            </div>
                                            <div class="schedule-DB" data-oldx="@nodeOld"></div>
                                        }
                                    }


                                }
                            }

                            @{listCalendarChangeChild = listCalendarChange.Where(o => o.TEMPLATE_COLUMN_ID == templateColumnList[k].TEMPLATE_COLUM_ID && o.DATE_START == times[j].DATES && o.STATUS == 3).ToList();
                            }

                            @for (int x = 0; x < listCalendarChangeChild.Count; x++)
                            {

                                countRow++;
                                nodeOld = templateColumnList[k].TEMPLATE_COLUM_ID + "," + String.Format("{0:d/M/yyyy}", times[j].DATES) + "_" + listCalendarChangeChild[x].DOCTORS_ID;
                                <div class="schedule-element-NewX" style="background:#d5f76e; max-width:100px;padding-left:3px;" title="Bổ sung lịch trực" data-row="@countRow.ToString()" id="@listCalendarChangeChild[x].DOCTORS_ID.ToString()">
                                    <span class="viewInfor" data-row="@countRow.ToString()" id="@listCalendarChangeChild[x].DOCTORS_ID.ToString()"> @listCalendarChangeChild[x].DOCTORS_NAME </span>  <span class="element-close fa fa-times-circle" title="Hủy trực" onclick="scheduleDeleteNewClick(this)"></span>
                                </div>
                                <div class="schedule-DB" data-oldx="@nodeOld"></div>
                            }
                        </td>


                    }
                </tr>
               }

           }
           
      </tbody>
        </table>
   
    </div>
</div>

</td>
       </tr>
                   <tr>
                        <td  style="height:50px;text-align:center;vertical-align:bottom"  >
                            <div id="buttonList">
                            @Html.Partial("_ListButtons")
                                </div>
                        </td>

                    </tr>
    </table>
  
</div>
    
    <div id="popupAnser"></div>


    }
        }
 


<script type="text/javascript" src="~/Scripts/Utils/jquery.fixedheadertable.min.js"></script>



  
        <script type="text/javascript">
           
            $(document).ready(function (e) {

               

                var $page_nav_content = $('#page-nav-content');

                $page_nav_content.css('overflow-x', "visible");

                $('.selectWeek').selectpicker();

                $('.selectWeek').change(function () {
                    var idWeek = $('.selectWeek').val();
                    var idCalendarDuty = '@idCalendarDuty';
                    var types = '@types';
                    $.ajax({
                        type: "GET",
                        url: '/CalendarDuty/ViewCalendarDuty',
                        data: { idCalendarDuty: idCalendarDuty, idWeek: idWeek, types: types },
                        success: function (response) {
                            $('#Contentx').html(response);
                        }

                    })

                  
                });
                var flagAll = 0;
                var arrayClient = [];
                var arrayPopup = [];
                var nextID = 0;

                $('#popupStaff').delegate("#btnOk", "click", function (event) {
                    var countX = 0;
                    nextID = 0;
                    arrayClient = [];
                    arrayPopup = [];
                    flagAll = 0;
                    //Gọi hàm thêm mới bác sĩ
                    $('.ui-selected').find('.viewInfor').each(function () {

                        arrayClient[countX] = $(this).attr('id');
                        countX++;

                    });
                    var flag = 0;
                    countX = 0;
                    var isdelete = 0;
                    var ArrayOld = [];
                    $('#table_list_staff').find('input:checked').each(function () {
                        if ($(this).attr("id") != "cbx-check-all") {
                            var item = $(this).parent('td').next('td').find('div');
                            arrayPopup[nextID] = item.attr('id');
                            nextID++;
                        }
                    });

                    $('#table_list_staff').find('input:checked').each(function () {

                        if ($(this).attr("id") != "cbx-check-all") {
                            var item = $(this).parent('td').next('td').find('div');

                            flag = 0;
                            isdelete = 0;

                            if (arrayClient.indexOf(item.attr('id')) >= 0) {

                                // Trường hợp khôi phục xóa 
                                $('.ui-selected').find('.schedule-elementDelete').each(function () {
                                    if (ArrayOld.indexOf($(this).attr("id")) < 0) {
                                        if ($(this).attr("id") == item.attr('id')) {
                                            if ($(this).attr("data-isdelete") == '1') {
                                                var dataDuty = $(this).attr('data-duty');
                                                var dataDate = $(this).attr('data-date');
                                                var id = $(this).attr('id');
                                                var datacolumn = $(this).attr('data-column');
                                                var nameDoctor = $(this).text();
                                                $(this).empty();
                                                $(this).append('<span class="viewInfor" id="' + id + '">' + nameDoctor + ' </span> <span id=' + id + ' data-date=' + dataDate + ' data-column=' + datacolumn + ' data-duty=' + dataDuty + ' class="element-change fa fa-pencil-square fa-lg" title="Đổi lịch trực"/>  <span class="element-close fa fa-times-circle" title="Hủy trực" onclick="scheduleCloseClick(this)"/></div>');
                                                $(this).removeAttr('data-isDelete');
                                                $(this).removeAttr("style");
                                                $(this).css({ 'background': '#D0DAFD', 'padding-left': '3px', 'max-width': '100px', 'height': '40px' });
                                                $(this).removeClass('schedule-elementDelete');
                                                $(this).addClass('schedule-elementView');
                                                flag = 1;
                                                countX++;
                                                ArrayOld[countX] = $(this).attr('id');

                                            }
                                        }
                                    }
                                });


                                if (flag != 1) {
                                    $('.ui-selected').find('.schedule-elementChangeOne .viewInfor').each(function () {
                                        if (ArrayOld.indexOf($(this).attr("id")) < 0) {
                                            if (arrayPopup.indexOf($(this).attr("id")) < 0) {
                                                if ($(this).attr("id") != item.attr('id')) {
                                                    if ($(this).attr("data-viewx") != 1) {
                                                        var itemX = $(this).parent('.schedule-elementChangeOne');
                                                        var id = $(itemX).attr('id');
                                                        var dataDuty = $(itemX).attr('data-duty');
                                                        var dataDate = $(itemX).attr('data-date');
                                                        var nameDoctor = $(this).text();
                                                        var datacolumn = $(itemX).attr('data-column');
                                                        $(itemX).empty();
                                                        $(itemX).attr('data-isDelete', '1');
                                                        $(itemX).append('<span class="viewInfor" id="' + id + '">' + nameDoctor + ' </span>  <span   data-id=' + id + ' data-date=' + dataDate + ' data-column=' + datacolumn + '  data-duty=' + dataDuty + ' class="element-close fa fa-rotate-left" title="Khôi phục lịch trực" onclick="scheduleCancelDelClick(this,1)"/>');
                                                        $(itemX).removeAttr("style");
                                                        $(itemX).css({ 'background': '#D0DAFD', 'text-decoration': 'line-through', 'color': '#ff0000', 'max-width': '100px', 'padding-left': '3px' });
                                                        $(itemX).removeClass('schedule-elementChangeOne');
                                                        $(itemX).addClass('schedule-elementDelete');

                                                    }
                                                    flag = 1;
                                                    countX++;
                                                    ArrayOld[countX] = $(itemX).attr('id');

                                                }
                                            }
                                        }
                                    });
                                }

                                if (flag != 1) {
                                    $('.ui-selected').find('.schedule-elementChangeTwo .viewInfor').each(function () {
                                        if (ArrayOld.indexOf($(this).attr("id")) < 0) {
                                            if (arrayPopup.indexOf($(this).attr("id")) < 0) {
                                                if ($(this).attr("id") != item.attr('id')) {
                                                    if ($(this).attr("data-viewx") != 1) {
                                                        var itemX = $(this).parent('.schedule-elementChangeTwo');
                                                        var id = $(itemX).attr('id');
                                                        var dataDuty = $(itemX).attr('data-duty');
                                                        var dataDate = $(itemX).attr('data-date');
                                                        var nameDoctor = $(this).text();
                                                        var datacolumn = $(itemX).attr('data-column');
                                                        var idChange = $(itemX).attr('data-idChange');

                                                        $(itemX).empty();
                                                        $(itemX).attr('data-isDelete', '1');
                                                        $(itemX).append('<span class="viewInfor" id="' + id + '">' + nameDoctor + ' </span>  <span   data-id=' + id + ' data-date=' + dataDate + ' data-column=' + datacolumn + '  data-duty=' + dataDuty + ' class="element-close fa fa-rotate-left" title="Khôi phục lịch trực" onclick="scheduleCancelDelClick(this,1)"/>');
                                                        $(itemX).removeAttr("style");
                                                        $(itemX).css({ 'background': '#D0DAFD', 'text-decoration': 'line-through', 'color': '#ff0000', 'max-width': '100px', 'padding-left': '3px' });
                                                        $(itemX).removeClass('schedule-elementChangeTwo');
                                                        $(itemX).addClass('schedule-elementDelete');
                                                        $('#selectable').find('.schedule-elementChangeTwo').each(function () {
                                                            var idItem12 = $(this).attr("data-idStart");
                                                            if (idItem12 == idChange) {

                                                                $(this).find('.element-close').attr('onclick', 'scheduleCancelClick(this, 0)');
                                                                $(this).removeClass('schedule-elementChangeTwo');
                                                                $(this).addClass('schedule-elementChangeOne');
                                                            }
                                                        });
                                                        flag = 1;
                                                        countX++;
                                                        ArrayOld[countX] = $(itemX).attr('id');
                                                    }
                                                }
                                            }
                                        }
                                    });
                                }

                                if (flag != 1) {
                                    $('.ui-selected').find('.schedule-element-NewX .viewInfor').each(function () {
                                        if (ArrayOld.indexOf($(this).attr("id")) < 0) {
                                            if (arrayPopup.indexOf($(this).attr("id")) < 0) {

                                                if ($(this).attr("id") != item.attr('id')) {
                                                    scheduleDeleteNewClick($(this));
                                                    countX++;
                                                    ArrayOld[countX] = $(this).attr('id');
                                                    flag = 1;


                                                }

                                            }
                                        }
                                    });
                                }
                                flagAll = 1;
                            }

                        }
                    });

                    // Trường hợp không chọn toàn bộ thì xóa ALL
                    if (flagAll == 0) {
                        $('.ui-selected').find('.schedule-elementView .viewInfor').each(function () {

                            scheduleCloseClick($(this));
                        });
                        $('.ui-selected').find('.schedule-element-NewX .viewInfor').each(function () {

                            scheduleDeleteNewClick($(this));
                        });
                        $('.ui-selected').find('.schedule-elementChangeOne .viewInfor').each(function () {

                            if ($(this).attr("data-viewx") != 1) {

                                var itemX = $(this).parent('.schedule-elementChangeOne');
                                var id = $(itemX).attr('id');
                                var dataDuty = $(itemX).attr('data-duty');

                                var dataDate = $(itemX).attr('data-date');
                                var nameDoctor = $(this).text();
                                var datacolumn = $(itemX).attr('data-column');
                                $(itemX).empty();

                                $(itemX).attr('data-isDelete', '1');
                                $(itemX).append('<span class="viewInfor" id="' + id + '">' + nameDoctor + ' </span>  <span   data-id=' + id + ' data-date=' + dataDate + ' data-column=' + datacolumn + '  data-duty=' + dataDuty + ' class="element-close fa fa-rotate-left" title="Khôi phục lịch trực" onclick="scheduleCancelDelClick(this,1)"/>');


                                $(itemX).removeAttr("style");

                                $(itemX).css({ 'background': '#D0DAFD', 'text-decoration': 'line-through', 'color': '#ff0000', 'max-width': '100px', 'padding-left': '3px' });
                                $(itemX).removeClass('schedule-elementChangeOne');
                                $(itemX).addClass('schedule-elementDelete');

                            }


                        });

                        $('.ui-selected').find('.schedule-elementChangeTwo .viewInfor').each(function () {

                            if ($(this).attr("data-viewx") != 1) {
                                var itemX = $(this).parent('.schedule-elementChangeTwo');
                                var id = $(itemX).attr('id');
                                var dataDuty = $(itemX).attr('data-duty');
                                var dataDate = $(itemX).attr('data-date');
                                var nameDoctor = $(this).text();
                                var datacolumn = $(itemX).attr('data-column');
                                var idChange = $(itemX).attr('data-idChange');
                                $(itemX).empty();
                                $(itemX).attr('data-isDelete', '1');
                                $(itemX).append('<span class="viewInfor" id="' + id + '">' + nameDoctor + ' </span>  <span   data-id=' + id + ' data-date=' + dataDate + ' data-column=' + datacolumn + '  data-duty=' + dataDuty + ' class="element-close fa fa-rotate-left" title="Khôi phục lịch trực" onclick="scheduleCancelDelClick(this,1)"/>');
                                $(itemX).removeAttr("style");
                                $(itemX).css({ 'background': '#D0DAFD', 'text-decoration': 'line-through', 'color': '#ff0000', 'max-width': '100px', 'padding-left': '3px' });
                                $(itemX).removeClass('schedule-elementChangeTwo');
                                $(itemX).addClass('schedule-elementDelete');
                                $('#selectable').find('.schedule-elementChangeTwo').each(function () {
                                    var idItem12 = $(this).attr("data-idStart");
                                    if (idItem12 == idChange) {
                                        $(this).removeClass('schedule-elementChangeTwo');
                                        $(this).addClass('schedule-elementChangeOne');
                                    }
                                });

                            }

                        });
                    }
                    // Thêm mới cán bộ 
                    $('#table_list_staff').find('input:checked').each(function () {
                        if ($(this).attr('id') != 'cbx-check-all') {
                            var item = $(this).parent('td').next('td').find('div');
                            if (arrayClient.indexOf(item.attr('id')) < 0) {
                                addItemToList(item, countX);
                            }
                        }
                    });
                    // Xóa cán bộ cũ
                    $('.ui-selected').find('.schedule-elementView .viewInfor').each(function () {
                        if (arrayPopup.indexOf($(this).attr("id")) < 0) {
                            scheduleCloseClick($(this));
                        }

                    });


                    //Tính lại độ cao cho các dòng dữ liệu
                    setHeightRow();
                });



            });
            $(function () {

                $('#selectable').fixedHeaderTable({
                    altClass: 'odd',
                    footer: false,
                    fixedColumns: 2,
                });

                $.curCSS = function (element, attrib, val) {
                    $(element).css(attrib, val);
                };

              
               $('#selectable').selectable({
                    filter: 'td.item-schedule',
                    stop: function (event, ui) {

                        $('#box_staff').fadeOut(0);

                        $('.ui-icon-closethick').click();
                    }
                })
              

            });

    // Hiển thị thông tin cá nhân của bác sĩ trực
    $("#" + $('#selectable').attr('id')).delegate(" td.item-schedule .schedule-element .viewInfor", "click", function (e) {
        //Cập nhật lại tên bác sĩ theo vị trí Click
      
        var x = e.clientX;
        var y = e.clientY;
        var idparent = $(this).parent('div').attr('id');
        $("#box_staff").dialog({
            title: 'Chi tiết thông tin cán bộ',
            modal: true,
            height: 140,
            width: 340,
            resizable: false,
            draggable: false,
            position: [x, y]
        }).load("/CalendarDuty/GetInforDoctor/?idDoctor=" + $(this).attr('id') + "");
        $("#box_staff").removeClass("ui-dialog-content");
        $("#box_staff").fadeIn(0);

     

    });

    // Hiển thị thông tin cá nhân của bác sĩ trực
    $("#" + $('#selectable').attr('id')).delegate(" td.item-schedule .viewInfor", "click", function (e) {
        //Cập nhật lại tên bác sĩ theo vị trí Click
      
        var x = e.clientX;
        var y = e.clientY;
        var idparent = $(this).parent('div').attr('id');
        $("#box_staff").dialog({
            title: 'Chi tiết thông tin cán bộ',
            modal: true,
            height: 'auto',
            width: 340,
            resizable: false,
            draggable: false,
            position: [x, y]
        }).load("/CalendarDuty/GetInforDoctor/?idDoctor=" + $(this).attr('id') + "");
        $("#box_staff").removeClass("ui-dialog-content");
        $("#box_staff").fadeIn(0);
        $("#ui-dialog-title-box_staff").css("margin-top", "-5px");


    });

  


    function setHeightRow() {
        var tdSelected = $('.ui-selected');
        if (tdSelected) {
            var indexSelected = tdSelected.parent().index();
            var rowFix = $('.fht-fixed-column .fht-tbody .fht-table tbody tr:eq(' + indexSelected + ')');
            if (rowFix.height() != tdSelected.height()) {
                rowFix.height(tdSelected.height());
            }
            //console.log(tdSelected.parent().index());
        }
    }
    function scheduleCancelDelClickS(item, type) {
        if (type == 1) {
         
            var dataDuty = $(item).find('.element-close').attr('data-duty');
            var dataDate = $(item).find('.element-close').attr('data-date');
            var id = $(item).attr('id');
            var datacolumn = $(item).find('.element-close').attr('data-column');
            var nameDoctor = $(item).text();
            $(item).fadeOut(0, function () {
                $(item).find('span').remove();
            });
            $(item).append('<span class="viewInfor" id="' + id + '">' + nameDoctor + ' </span> <span id=' + id + ' data-date=' + dataDate + ' data-column=' + datacolumn + ' data-duty=' + dataDuty + ' class="element-change fa fa-pencil-square fa-lg" title="Đổi lịch trực"/>  <span class="element-close fa fa-times-circle" title="Hủy trực" onclick="scheduleCloseClick(this)"/></div>');

            $(item).removeClass('schedule-element');
            $(item).addClass('schedule-elementView');
           
            $(item).removeAttr("style");
            $(item).css({ 'background': '#D0DAFD', 'padding-left': '3px', 'max-width': '100px', 'height': '40px' });
        }
        else {
         
            var id = $(item).find('.viewInfor').attr('id');
            var nameDoctor = $(item).text();
            $(item).fadeOut(0, function () {
                $(item).find('span').remove();
            });
            $(item).append('<span class="viewInfor" id="' + id + '">' + nameDoctor + ' </span>  <span class="element-close fa fa-times-circle" title="Hủy trực" onclick="scheduleCloseClickFist(this)"/></div>');
            $(item).removeClass('schedule-element');
            $(item).addClass('schedule-elementView');
           
            $(item).removeAttr("style");
            $(item).css({ 'background': '#D0DAFD', 'padding-left': '3px', 'max-width': '100px' });

        }
    }
    function removeList() {
        $('.ui-selected').find('.schedule-element').each(function () {
            
                $(this).remove();
          
        })
    }
    // Thêm mới danh sách bác sĩ ô lựa chọn
    function addItemToList(item, countx) {
        $('.ui-selected').each(function () {
            // Effect
            $(this).append('<div class="schedule-element-NewX" style="background:#d5f76e; max-width:100px;padding-left:3px;"  data-Row="' + countx.toString() + '" id="'
                    + item.attr('id') + '"><span class="viewInfor" id="'+ item.attr('id') + '">' + item.text().trim() + ' </span>'
                    + '<span class="element-close fa fa-times-circle"  title="Hủy trực" onclick="scheduleDeleteNewClick(this)"/>'
                    + '</div>');
        });

    };
    // Cap nhat xoa item
    function addDeleteItemToList(item) {

      
            // Effect
            
        $('.ui-selected').find('.schedule-element').each(function () {
            
            if ($(this).attr("id") == item)
            {
              
                var dataDuty = $(this).find('.element-change').attr('data-duty');
                var dataDate = $(this).find('.element-change').attr('data-date');
                var datacolumn = $(this).find('.element-change').attr('data-column');
                var id = $(this).attr('id');
                var nameDoctor = $(this).text();
                $(this).attr('data-isDelete','1');
                $(this).find('span').remove();
                $(this).append('<span class="viewInfor" id="' + id  + '">' + nameDoctor + ' </span>  <span   data-id=' + id + ' data-date=' + dataDate + ' data-column=' + datacolumn + '  data-duty=' + dataDuty + ' class="element-close fa fa-rotate-left" title="Khôi phục lịch trực" onclick="scheduleCancelDelClick(this,1)"/>');
                $(this).removeClass('schedule-element');
                $(this).removeAttr("style");
                $(this).addClass('schedule-elementDelete');
                $(this).css({ 'background': '#D0DAFD', 'text-decoration': 'line-through', 'color': '#ff0000', 'max-width': '100px', 'padding-left': '3px' });

            }
        });


          
      

    };
    function scheduleDeleteNewClick(item) {
        var itemX = $(item).parent('.schedule-element-NewX');
        $(itemX).remove();

    }
    var statusDuty = '@objCalendarDuty.CALENDAR_STATUS';
    // Thực hiện xóa bác sĩ được chọn
            function scheduleCloseClick(item) {
                if (statusDuty != 1) {
                    var itemX = $(item).parent('.schedule-elementView');
                    var id = $(itemX).attr('id');

                    var dataDuty = $(itemX).find('.element-change').attr('data-duty');

                    var dataDate = $(itemX).find('.element-change').attr('data-date');
                    var nameDoctor = $(itemX).text();
                    var datacolumn = $(itemX).find('.element-change').attr('data-column');
                    $(itemX).fadeOut(0, function () {
                        $(itemX).find('span').remove();
                    });
                    $(itemX).attr('data-isDelete', '1');
                    $(itemX).append('<span class="viewInfor" id="' + id + '">' + nameDoctor + ' </span>  <span   data-id=' + id + ' data-date=' + dataDate + ' data-column=' + datacolumn + '  data-duty=' + dataDuty + ' class="element-close fa fa-rotate-left" title="Khôi phục lịch trực" onclick="scheduleCancelDelClick(this,1)"/>');
                    $(itemX).removeClass('schedule-elementView');
                    $(itemX).addClass('schedule-elementDelete');
                    $(itemX).removeAttr("style");
                    $(itemX).css({ 'background': '#D0DAFD', 'text-decoration': 'line-through', 'color': '#ff0000', 'max-width': '100px', 'padding-left': '3px' });
                }
                else {
                    var itemX = $(item).parent('.schedule-elementView');
                    $(itemX).remove();
                }
    }
    // Thực hiện xóa bác sĩ được chọn
    function scheduleCloseClickFist(item) {
        var itemX = $(item).parent('.schedule-elementView');
        var id = $(itemX).attr('id');
        var nameDoctor = $(itemX).text();
      
        $(itemX).fadeOut(0, function () {
            $(itemX).find('span').remove();
        });

        $(itemX).append('<span class="viewInfor" id="">' + nameDoctor + ' </span>  <span  class="element-close fa fa-rotate-left" title="Khôi phục lịch trực" onclick="scheduleCancelDelClick(this,2)"/>');
        $(itemX).removeClass('schedule-elementView');
        $(itemX).addClass('schedule-element');
        $(itemX).removeAttr("style");
        $(itemX).css({ 'background': '#D0DAFD', 'text-decoration': 'line-through', 'color': '#ff0000', 'max-width': '100px', 'padding-left': '3px' });

    }
    function scheduleCancelDelClick(item, type) {
        if (type == 1) {
            
            var itemX = $(item).parent('.schedule-elementDelete');
            var dataDuty = $(itemX).find('.element-close').attr('data-duty');
            var dataDate = $(itemX).find('.element-close').attr('data-date');
            var id = $(itemX).attr('id');
     
            var datacolumn = $(itemX).find('.element-close').attr('data-column');
            var nameDoctor = $(itemX).text();
            $(itemX).fadeOut(0, function () {
                $(itemX).find('span').remove();
            });
            $(itemX).append('<span class="viewInfor" id="' + id + '">' + nameDoctor + ' </span> <span id=' + id + ' data-date=' + dataDate + ' data-column=' + datacolumn + ' data-duty=' + dataDuty + ' class="element-change fa fa-pencil-square fa-lg" title="Đổi lịch trực"/>  <span class="element-close fa fa-times-circle" title="Hủy trực" onclick="scheduleCloseClick(this)"/></div>');
            $(itemX).attr('data-isDelete', '0');
            $(itemX).removeClass('schedule-elementDelete');
            $(itemX).addClass('schedule-elementView');
            $(itemX).removeAttr("style");
            $(itemX).css({ 'background': '#D0DAFD', 'padding-left': '3px', 'max-width': '100px', 'height': '40px' });
        }
        else {
            var itemX = $(item).parent('.schedule-element');
            var id = $(itemX).find('.viewInfor').attr('id');
            var nameDoctor = $(itemX).text();
            $(itemX).fadeOut(0, function () {
                $(itemX).find('span').remove();
            });
            $(itemX).append('<span class="viewInfor" id="' + id + '">' + nameDoctor + ' </span>  <span class="element-close fa fa-times-circle" title="Hủy trực" onclick="scheduleCloseClickFist(this)"/></div>');
            $(itemX).removeClass('schedule-element');
            $(itemX).addClass('schedule-elementView');
            $(itemX).removeAttr("style");
            $(itemX).attr('data-isDelete', '0');
            $(itemX).css({ 'background':'#D0DAFD', 'padding-left':'3px','max-width':'100px'});

        }
    }
    // Thực hiện mở của sổ đổi lịch
    // Hiển thị thông tin cá nhân của bác sĩ trực
    $("#" + $('#selectable').attr('id')).delegate(" td.item-schedule .element-change", "click", function (e) {
        //Cập nhật lại tên bác sĩ theo vị trí Click
        var idDoctorChange = $(this).attr('id');
        var idColumn = $(this).attr('data-column');
        var idCalendarDuty = $(this).attr('data-duty');
        var dataDate = $(this).attr('data-date');
        var DoctorName = $(this).parent('.schedule-elementView').attr('data-name');
       
        var idWeek = '@idWeek';
        var x = e.clientX;
        var y = e.clientY;
        var optionTexts = "";
        var itemX = $(this).parents('.item-schedule');
        var ii=0;
        $(itemX).find('.viewInfor').each(function () {
                      optionTexts = optionTexts + "'" +  $(this).attr('id') + "'";
        })
        $("#popupStaff").empty();
        $("#popupStaff").dialog({
            title: 'Danh sách cán bộ',
            modal: true,
            position: [x, y],
            height: 310,
            width: 440,
            resizable: false,
            draggable: false,
        }).load("/CalendarDuty/ListDoctorsChanges?DoctorName=" + encodeURI(DoctorName) + "&idDoctorChange=" + idDoctorChange + "&idColumn=" + idColumn + "&idCalendarDuty=" + idCalendarDuty + "&dateDoctorChange=" + dataDate + "&idWeek=" + idWeek + "&arrayDoctorIsExit=" + optionTexts);
        $("#popupStaff").removeClass("ui-dialog-content ui-widget-content");

    });

            function saveCalendar() {
                var inforContent = $("#inforContent").val().trim();
                var errcalendarContent = $('.field-validation-valid[data-valmsg-for="errinforContent"]');
                errcalendarContent.css('color', 'red');
                if (inforContent == "" || inforContent == null) {
                    $("#inforContent").focus();
                    errcalendarContent.text('(Nhập tên lịch đơn vị)');
                    return false;
                }
                errcalendarContent.text('');
                var dates = "";
                var idRow = "";
                var strValues = ""; // Mang ID truong hop them moi chua duyet
                var strNew = "";
             
             
                var strDelete = "";
                var strChangeOne = "";
                var strChangeTwo = "";
                var iNew=0;
                var iView=0;
                var iDelete=0;
                var iOne=0;
                var iTwo=0;
                var j = 0;
                var idCalendarDuty = '@idCalendarDuty';
                var listColumn = '@listColumn';
                var types = '@types';
                var idWeek = '@idWeek';
                $('#selectable').find('.item-schedule').each(function () {
                    dates = $(this).attr('id');
                   
                   
                    
                    

                    $(this).find('.schedule-element-NewX').each(function () {

                        iNew++;
                        iView++;
                        if ( iNew == 1) {
                            strNew = dates + "_" + $(this).attr('id');
                          
                        } else {
                            strNew = strNew + "-" + dates + "_" + $(this).attr('id');
                          
                        }



                        if (iView == 1) {
                         
                            strValues = dates + "_" + $(this).attr('id');
                        } else {
                           
                            strValues = strValues + "-" + dates + "_" + $(this).attr('id');
                        }

                    });
                 
                    $(this).find('.schedule-elementView').each(function () {
                        iView++;
                        
                        if (iView == 1) {
                        
                            strValues = dates + "_" + $(this).attr('id');
                        } else {
                          
                            strValues = strValues + "-" + dates + "_" + $(this).attr('id');
                        }
                    });
                 
                    $(this).find('.schedule-elementDelete').each(function () {

                        iDelete++;
                        if (iDelete == 1) {
                            strDelete = dates + "_" + $(this).attr('id');
                           
                        } else {
                            strDelete = strDelete + "-" + dates + "_" + $(this).attr('id');
                        }
                    });
               
                    $(this).find('.schedule-elementChangeOne').each(function () {
                        iOne++;
                       
                        if (iOne == 1) {
                            strChangeOne = dates + "_" + $(this).attr('id') + "_" + $(this).attr('data-idchangedoctor');

                        } else {
                            strChangeOne = strChangeOne + "-" + dates + "_" + $(this).attr('id') + "_" + $(this).attr('data-idchangedoctor');
                        }
                    });
                   
                  
                    $(this).find('.schedule-elementChangeTwo').each(function () {

                        iTwo++;
                      
                        if (iTwo == 1) {
                            strChangeTwo = dates + "_" + $(this).attr('id') + "_" + $(this).attr("data-changesend");
                           
                        } else {
                            strChangeTwo = strChangeTwo + "-" + dates + "_" + $(this).attr('id') + "_" + $(this).attr("data-changesend");
                           
                        }
                        
                    });
                  
                });

            

                $.ajax({
                    type: "POST",
                    url: "/CalendarDuty/EditValuesCalendarDuty",
                    content: "application/json; charset=utf-8",
                    data: ({ strValues: strValues, strNew: strNew, strDelete: strDelete, strChangeOne: strChangeOne, strChangeTwo: strChangeTwo, idCalendarDuty: idCalendarDuty, listColumnX: listColumn, types: types, idWeek: idWeek, inforContent: inforContent }),
                    success: function (data) {
                        $('#Contentx').html(data);
                        window.notice('@Resources.Localization.ChangeCalendarSuccess', window.notice_warning);
                    },
                    error: function () {

                        window.notice('@Resources.Localization.DataIsNotValid', window.notice_warning);
                    }
                });
            }

            //Hủy đổi lịch
            function scheduleCancelClick(item, type) {
                if (type == 1) {
                    var itemx = $(item).parent('.schedule-elementChangeTwo');
                    var idChange = $(itemx).attr('data-idChange');
                    var idStart = $(itemx).attr('id');
                
                    var doctorName = $(itemx).find(".viewInfor").attr('data-changetext');

                    var data_duty = $(itemx).attr('data-duty');
                    var data_column = $(itemx).attr('data-column');
                    var data_date = $(itemx).attr('data-date');
                    var data_name = $(itemx).attr('data-name');
                    $(itemx).find('span').each(function () {
                        $(this).remove();
                    });

                    $(itemx).empty();
                    $(itemx).append('<span class="viewInfor" id="' + idStart + '">' + doctorName + ' </span>  </div>');



                    $(itemx).append('<span class="element-close fa fa-times-circle" onclick="scheduleCloseClick(this)" title="Hủy trực" style="display: none;"></span>');
                    $(itemx).append('<span id="' + idStart + '" class="element-change fa fa-pencil-square fa-lg" title="Đổi lịch trực" data-duty="' + data_duty + '" data-column="' + data_column + '" data-date="' + data_date + '" data-name="' + data_name + '" style="display: none;"></span>');

                    $(itemx).removeClass('schedule-elementChangeTwo');
                    $(itemx).addClass('schedule-elementView');
                    $(itemx).removeAttr("style");
                    $(itemx).removeAttr("data-idstart");
                    $(itemx).removeAttr("data-idchange");
                    $(itemx).removeAttr("data-idchangedoctor");
                    $(itemx).removeAttr("data-changename");
                   
                    $(itemx).css({ 'background': '#D0DAFD', 'padding-left': '3px', 'max-width': '100px' });


                    $('#selectable').find('.schedule-elementChangeTwo').each(function () {
                        var idItem12 = $(this).attr("data-idStart");

                        if (idItem12 == idChange) {


                            var doctorNameS = $(this).find(".viewInfor").attr('data-changetext');
                            var idDoctor = $(this).attr('id');
                            var data_duty = $(this).attr('data-duty');
                            var data_column = $(this).attr('data-column');
                            var data_date = $(this).attr('data-date');
                            var data_name = $(this).attr('data-name');
                            $(this).find('span').each(function () {
                                $(this).remove();
                            });


                            $(this).empty();
                            $(this).append('<span class="viewInfor" id="' + idDoctor + '">' + doctorNameS + ' </span>  </div>');
                            $(this).append('<span class="element-close fa fa-times-circle" onclick="scheduleCloseClick(this)" title="Hủy trực" style="display: none;"></span>');
                            $(this).append('<span id="' + idDoctor + '" class="element-change fa fa-pencil-square fa-lg" title="Đổi lịch trực" data-duty="' + data_duty + '" data-column="' + data_column + '" data-date="' + data_date + '" data-name="' + data_name + '" style="display: none;"></span>');
                            $(this).removeClass('schedule-elementChangeTwo');
                            $(this).removeAttr("data-idstart");
                            $(this).removeAttr("data-idchange");
                            $(this).removeAttr("data-idchangedoctor");
                            $(this).removeAttr("data-changename");

                            $(this).addClass('schedule-elementView');

                            $(this).removeAttr("style");
                            $(this).css({ 'background': '#D0DAFD', 'padding-left': '3px', 'max-width': '100px' });
                        }
                    });
                }
                else
                {
                    var itemx = $(item).parent('.schedule-elementChangeOne');
                    var idStart = $(itemx).attr('id');
                    var doctorName = $(itemx).find(".viewInfor").attr('data-changetext');
                    var data_duty = $(itemx).attr('data-duty');
                    var data_column = $(itemx).attr('data-column');
                    var data_date = $(itemx).attr('data-date');
                    var data_name = $(itemx).attr('data-name');
                    $(itemx).empty();
                    $(itemx).append('<span class="viewInfor" id="' + idStart + '">' + doctorName + ' </span>  </div>');
                    $(itemx).append('<span class="element-close fa fa-times-circle" onclick="scheduleCloseClick(this)" title="Hủy trực" style="display: none;"></span>');
                    $(itemx).append('<span id="' + idStart + '" class="element-change fa fa-pencil-square fa-lg" title="Đổi lịch trực" data-duty="' + data_duty + '" data-column="' + data_column + '" data-date="' + data_date + '" data-name="' + doctorName + '" style="display: none;"></span>');
                    $(itemx).removeClass('schedule-elementChangeOne');
                    $(itemx).addClass('schedule-elementView');
                    $(itemx).removeAttr("style");
                   
                    $(itemx).css({ 'background': '#D0DAFD', 'padding-left': '3px', 'max-width': '100px' });
                   
                }
            }
            function scheduleBackCancel(item, type)
            {
               
                if (type == 1) {
                    var itemx = $(item).parent('.schedule-elementView');
                    var idChange = $(itemx).attr('data-idChange');
                    var idStart = $(itemx).attr('id');
                    var doctorName = $(itemx).find(".viewInfor").text();
                    var doctorNameChange = $(itemx).attr('data-changename');
                    var idChangeDoctor = $(itemx).attr('data-idChangeDoctor');
                    var idItemS = $(itemx).attr('data_idStart');
                    $(itemx).empty();
                    $(itemx).append('<span class="viewInfor" data-ChangeText="' + doctorName + '"   id="' + idStart + '">' + doctorName + '</span>');
                    $(itemx).append('<img src="/Images/Forward_Arrow.png" width="16px" height="16px" /> <span class="viewInfor" id="' + idChangeDoctor + '">  ' + doctorNameChange + '</span> <span class="element-close fa fa-rotate-left" title="Hủy đổi lịch trực" id="' + idItemS + '" onclick="scheduleCancelClick(this,1)"/></div>');
                    $(itemx).removeClass('schedule-elementView');
                    $(itemx).addClass('schedule-element');
                    $(itemx).removeAttr("style");
                    $(itemx).css({ 'background': '#b6ff00', 'padding-left': '3px', 'max-width': '100px' });
                    $('#selectable').find('.schedule-element').each(function () {
                        var idItem12 = $(this).attr("data-idStart");
                        if (idItem12 == idChange) {
                            var idItemS2 = $(itemx).attr('data_idStart');
                            $(this).empty();
                            $(this).append('<span class="viewInfor" data-ChangeText="' + doctorNameChange + '"   id="' + idChangeDoctor + '">' + doctorNameChange + '</span>');
                            $(this).append('<img src="/Images/Forward_Arrow.png" width="16px" height="16px" /> <span class="viewInfor" id="' + idStart + '">  ' + doctorName + '</span> <span class="element-close fa fa-rotate-left" title="Hủy đổi lịch trực" id="' + idItemS2 + '" onclick="scheduleCancelClick(this,1)"/></div>');
                            $(this).removeClass('schedule-elementView');
                            $(this).addClass('schedule-element');
                            $(this).removeAttr("style");
                            $(this).css({ 'background': '#b6ff00', 'padding-left': '3px', 'max-width': '100px' });
                        }
                    });
                }
                else {

                    var itemx = $(item).parent('.schedule-elementView');
                    var idChange = $(itemx).attr('data-idChange');
                    var idStart = $(itemx).attr('id');
                    var doctorName = $(itemx).find(".viewInfor").text();
                    var doctorNameChange = $(itemx).attr('data-changename');
                    var idChangeDoctor = $(itemx).attr('data-idChangeDoctor');
                    var idItemS = $(itemx).attr('data_idStart');
                    $(itemx).empty();
                    $(itemx).append('<span class="viewInfor" data-ChangeText="' + doctorName + '"   id="' + idStart + '">' + doctorName + '</span>');
                    $(itemx).append('<img src="/Images/Forward_Arrow.png" width="16px" height="16px" /> <span class="viewInfor" id="' + idChangeDoctor + '">  ' + doctorNameChange + '</span> <span class="element-close fa fa-rotate-left" title="Hủy đổi lịch trực" id="' + idItemS + '" onclick="scheduleCancelClick(this,0)"/></div>');
                    $(itemx).removeClass('schedule-elementView');
                    $(itemx).addClass('schedule-element');
                    $(itemx).removeAttr("style");
                    $(itemx).css({ 'background': '#b6ff00', 'padding-left': '3px', 'max-width': '100px' });




                }


            }

    function SendCalendar() {
                var idCalendarDuty = '@idCalendarDuty';
                $.ajax({
                    type: "GET",
                    url: '/CalendarDuty/SendApproved',
                    data: { idCalendarDuty: idCalendarDuty, types: '1' },
                    success: function (response) {
                        $('#buttonList').html(response);
                        $(document).delegate(".schedule-element", "hover", function (event) {
                            if (event.type == 'mouseenter') {
                                $(this).find(".element-close").fadeOut(0);
                                $(this).find(".element-change").fadeOut(0);
                            } else {
                                $(this).find(".element-close").fadeOut(0);
                                $(this).find(".element-change").fadeOut(0);
                            }
                        });

                        $(document).delegate(".schedule-elementDelete", "hover", function (event) {
                            if (event.type == 'mouseenter') {
                                $(this).find(".element-close").fadeOut(0);
                                $(this).find(".element-change").fadeOut(0);
                            } else {
                                $(this).find(".element-close").fadeOut(0);
                                $(this).find(".element-change").fadeOut(0);
                            }
                        });
                        $(document).delegate(".schedule-elementView", "hover", function (event) {
                            if (event.type == 'mouseenter') {
                                $(this).find(".element-close").fadeOut(0);
                                $(this).find(".element-change").fadeOut(0);
                            } else {
                                $(this).find(".element-close").fadeOut(0);
                                $(this).find(".element-change").fadeOut(0);
                            }
                        });
                        window.notice('Gửi duyệt lịch trực thành công', window.notice_success);
                  }
                })
            }
            function CancelCalendar() {
                var idCalendarDuty = '@idCalendarDuty';
                $.get('/CalendarDuty/ApprovedRequest', { idCalendarDuty: idCalendarDuty, types: '3', userCreate: '1' }, function (data) {
                    $('#popupAnser').html(data);
                    $('#CalendarDutyRequest').modal({
                        keyboard: true
                    });
                });
            }
            function ApprovedCalendar() {
               var idCalendarDuty = '@idCalendarDuty';
                $.ajax({
                    type: "GET",
                    url: '/CalendarDuty/ApprovedCalendarDuty',
                    data: { idCalendarDuty: idCalendarDuty, types: '1' },
                    success: function (response) {
                        $('#buttonList').html(response);
                        $(document).delegate(".schedule-element", "hover", function (event) {
                            if (event.type == 'mouseenter') {
                                $(this).find(".element-close").fadeOut(0);
                                $(this).find(".element-change").fadeOut(0);
                            } else {
                                $(this).find(".element-close").fadeOut(0);
                                $(this).find(".element-change").fadeOut(0);
                            }
                        });

                        $(document).delegate(".schedule-elementDelete", "hover", function (event) {
                            if (event.type == 'mouseenter') {
                                $(this).find(".element-close").fadeOut(0);
                                $(this).find(".element-change").fadeOut(0);
                            } else {
                                $(this).find(".element-close").fadeOut(0);
                                $(this).find(".element-change").fadeOut(0);
                            }
                        });
                        $(document).delegate(".schedule-elementView", "hover", function (event) {
                            if (event.type == 'mouseenter') {
                                $(this).find(".element-close").fadeOut(0);
                                $(this).find(".element-change").fadeOut(0);
                            } else {
                                $(this).find(".element-close").fadeOut(0);
                                $(this).find(".element-change").fadeOut(0);
                            }
                        });
                        window.notice('Duyệt lịch trực đơn vị thành công', window.notice_success);
                        //Duyet xong chuyen ve trang danh sach de phe duyet tiep
                        window.location = "/CalendarDuty";
                    }

                });

            }
            function ExportExcel() {
                var url = '@Url.Action("ExportCalendarDuty", "CalendarDuty")' + '?idCalendarDuty=@idCalendarDuty';
                location.href = url;
            }
   </script>
<script type="text/javascript" src="~/Scripts/TableCalendar.js"></script>
<link type="text/css" href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<div id="box_staff" class="box-staff " style="display: none">
    </div>
 <div id="popupStaff" style="border: 1px solid #D0DAFD; text-align: center; width: 326px; display: none; background-color:#D0DAFD;">
     </div>
    </div>