@using BachMaiCR.DBMapping.Models;
@using Resources
@using BachMaiCR.Web.Common
@{
                      
    var lstAction = ViewBag.ActionPermission as List<string>;
    bool enableSave = false;
    bool enableSend = false;
    bool enableApproved = false;
    bool enableCancel = false;
    bool enableImport = false;
    bool enableExport = false;
    bool enableHistory = false;

    enableSave = lstAction.Contains(WebConst.ACTION_INSERT_CALENDAR_DUTY_CODE);
    enableSend = lstAction.Contains(WebConst.ACTION_SEND_CALENDAR_DUTY_CODE);
    enableApproved = lstAction.Contains(WebConst.ACTION_APPROVED_CALENDAR_DUTY_CODE);
    enableCancel = lstAction.Contains(WebConst.ACTION_CANCEL_CALENDAR_DUTY_CODE);
    enableImport = lstAction.Contains(WebConst.ACTION_IMPORT_EXCEL_CALENDAR_DUTY_NAME);
    enableExport = lstAction.Contains(WebConst.ACTION_EXPORT_EXCEL_CALENDAR_DUTY_CODE);
    enableHistory = lstAction.Contains(WebConst.ACTION_HISTORY_EXCEL_CALENDAR_DUTY_CODE);
    var objCalendarDuty1 = ViewBag.objCalendarDuty as CALENDAR_DUTY;
    int isApproved = 0;
    int idCalendarDuty = 0;
    if (objCalendarDuty1 != null)
    {
        isApproved = objCalendarDuty1.ISAPPROVED;
        idCalendarDuty = objCalendarDuty1.CALENDAR_DUTY_ID;
    }
}
<span class="input-group-btn">


    <button class="btn btn-primary btn-sm" type="button"   onclick="location.href='@Url.Action("Index", "CalendarDuty")'">
        <span class="glyphicon glyphicon-step-backward"></span>
        @Localization.PageBack</button>

    @if (((objCalendarDuty1.CALENDAR_STATUS == 1) || (objCalendarDuty1.CALENDAR_STATUS == 4)) && (enableSave))
    {

        <button style="margin-left: 10px;" class="btn btn-primary btn-sm" onclick="EditCalendar(@objCalendarDuty1.CALENDAR_DUTY_ID)" id="editCalendar" type="button">
            <span class="glyphicon glyphicon-edit"></span>
            @Localization.ButtonEditCalendarDuty</button>
    }
    @if (((objCalendarDuty1.CALENDAR_STATUS < 2) || (objCalendarDuty1.CALENDAR_STATUS > 3)) && (enableSend))
    {
        <button type="button"  style="margin-left: 10px;" class="btn btn-primary btn-sm" value="@Localization.ButtonSendApproved"  onclick="SendCalendar()" ><span class="glyphicon glyphicon-arrow-up"></span>@Localization.ButtonSendApproved</button>
    }
    @if (((objCalendarDuty1.CALENDAR_STATUS == 3) && (DateTime.Now.Hour >= 8) && (DateTime.Now.Hour <= 22)) && (enableCancel))
    {
        <button type="button" style="margin-left: 10px;" class="btn btn-primary btn-sm" value="@Localization.ButtonCancelApproved"  onclick="CancelCalendar()" ><span class="glyphicon glyphicon-arrow-down"></span>@Localization.ButtonCancelApproved</button>
    }
    @if ((objCalendarDuty1.CALENDAR_STATUS ==2)  && (enableApproved))
    {
        <button type="button" style="margin-left: 10px;" class="btn btn-primary btn-sm" value="@Localization.ButtonApprovedTemptDisplay"  onclick="ApprovedCalendar()" ><span class="glyphicon glyphicon-check"></span>@Localization.ButtonApprovedTemptDisplay</button>
    }
@if (enableExport)
                                 {
    <button type="button" style="margin-left: 10px;" class="btn btn-primary btn-sm" value="@Localization.ButtonExportExcel"  onclick="return ExportExcel();" ><span class="glyphicon glyphicon-folder-open"></span>&nbsp; @Localization.ButtonExportExcel</button>
}
    @if (isApproved == 1)
    {
        <button type="button" style="margin-left: 10px;" class="btn btn-primary btn-sm" value="@Localization.ButtonHistoryCalendar" onclick="return hisCalendar();">   <span class="glyphicon glyphicon-file"></span> @Localization.ButtonHistoryCalendar</button>
    }
</span>
<script type="text/javascript">
    function hisCalendar() {
        //  alert("edit");
        var $self = $(this);
        $.get('/CalendarDuty/HistoryCalendarDuty', {
            idCalendarDuty:'@idCalendarDuty',
        },
            function (data) {
                var $categoryModel = $('#view_model_container');
                $categoryModel.html(data);
                $('#viewEntityModel').modal({
                    keyboard: true
                });
            })
    };

</script>