@model BachMaiCR.DBMapping.ModelsExt.InforCalendarDutyX
@using BachMaiCR.DataAccess;
@using BachMaiCR.DBMapping.Models;
@using BachMaiCR.Web.Utils;
@{
    DateTime date = Utils.GetDateTime();
    int yearCurrent = date.Year + 2;
    int yearStart = yearCurrent - 5;
    int weekDefault = -1;
    int day = date.Day;
    if (day <= 7)
    {
        weekDefault = 1;
    }
    else if (day>7 && day<=14)
    {
        weekDefault = 2;
    }
    else if (day > 14 && day <= 21)
    {
        weekDefault = 3;
    }
    else
    {
        weekDefault = 4;
    }
    List<SelectListItem> tmpYear = new List<SelectListItem>();
    for (int i = yearStart; i < yearCurrent; i++)
    {
        tmpYear.Add(new SelectListItem() { Text = i.ToString(), Value = i.ToString(), Selected = false });

    }
    List<SelectListItem> tmpMonths = new List<SelectListItem>();
    for (int i = 1; i <= 12; i++)
    {
        tmpMonths.Add(new SelectListItem() { Text = i.ToString(), Value = i.ToString(), Selected = false });

    }
    List<SelectListItem> tmpWeek = new List<SelectListItem>();
    int monthss = date.Month;
    int yearss = date.Year;
    List<string> Days = new List<string>();
    int dayNumber = DateTime.DaysInMonth(monthss, yearss);

    Days.Add("1-7/" + monthss);
    Days.Add("8-14/" + monthss);
    Days.Add("15-21/" + monthss);
    Days.Add("22-" + dayNumber.ToString() + "/" + monthss);
    for (int i = 0; i <= 3; i++)
    {
        tmpWeek.Add(new SelectListItem() { Text = "Tuần " + (i + 1).ToString() + "(" + Days[i] + ")", Value = i.ToString(), Selected = false });

    }
    var DATE_MONTH = new SelectList(tmpMonths, "Value", "Text", date.Month);
    var DATE_YEAR = new SelectList(tmpYear, "Value", "Text", date.Year);
    var DATE_WEEK = new SelectList(tmpWeek, "Value", "Text", weekDefault);
    tmpYear = null;
    tmpYear = null;
    tmpMonths = null;
    var strContents = "Tổng hợp lịch trực toàn bệnh viện tháng " + date.Month + " năm " + date.Year; 

}
<style>


    .selectpicker
    {
        font-size: 12px;
        font-family: Arial, Verdana, Tahoma, sans-serif;
    }


    .btn-default
    {
        height: 25px;
        font-size: 12px;
        font-family: Arial, Verdana, Tahoma, sans-serif;
    }
</style>

<script type="text/javascript">
    $(document).ready(function (e) {

        $('.selectMonths').change(function () {
            var strDate = $('.selectWeek').val() + "_" + $('.selectMonths').val() + "_" + $('.selectYears').val();
            $('#inforContent').val($('.templates option:selected').text() + "Tổng hợp lịch trực toàn bệnh viện tháng " + $('.selectMonths').val() + "/" + $('.selectYears').val());

            $.ajax({
                type: "GET",
                url: '/CalendarDuty/LoadCalendarHospital',
                data: { strDate: strDate },
                success: function (response) {
                    $('#loadTemplate').html(response);
                }
            });
        });
        $('.selectYears').change(function () {
            var strDate = $('.selectWeek').val() + "_" + $('.selectMonths').val() + "_" + $('.selectYears').val();

            $('#inforContent').val($('.templates option:selected').text() + "Tổng hợp lịch trực toàn bệnh viện tháng " + $('.selectMonths').val() + "/" + $('.selectYears').val());
            $.ajax({
                type: "GET",
                url: '/CalendarDuty/LoadCalendarHospital',
                data: { strDate: strDate },
                success: function (response) {
                    $('#loadTemplate').html(response);
                }
            });
        });
       
        $('.selectWeek').change(function () {
            var strDate = $('.selectWeek').val() + "_" + $('.selectMonths').val() + "_" + $('.selectYears').val();
            $('#inforContent').val($('.templates option:selected').text() + "Tổng hợp lịch trực toàn bệnh viện tháng " + $('.selectMonths').val() + "/" + $('.selectYears').val());

            $.ajax({
                type: "GET",
                url: '/CalendarDuty/LoadCalendarHospital',
                data: { strDate: strDate },
                success: function (response) {
                    $('#loadTemplate').html(response);
                }
            });
        });

    });

    $(document).ready(function (e) {
        $('.selectMonths').selectpicker();
    });
    $(document).ready(function (e) {
        $('.selectYears').selectpicker();
    });
    $(document).ready(function (e) {
        $('.selectWeek').selectpicker();
    });

</script>

<table border="0" width="100%" class="tbl_Search">
    <tr>
        <td style="text-align: right; width: 65px; cursor: pointer;">
            <img src="~/Images/prev-icon.jpg" style="width: 25px;" title="Trở về tháng trước" onclick="NextCalendar(1)" />
            &nbsp;
                    
        </td>
        <td style="text-align: right; width: 45px;">
            @Resources.Localization.LabelWeek &nbsp;

    </td>
        <td style="width: 65px;">
            @Html.DropDownListFor(m => m.DATE_WEEKX, DATE_WEEK, new { @class = "selectWeek", data_width = "80px", id = "DATE_WEEKX" })

        </td>
        <td style="text-align: right; width: 45px;">@Resources.Localization.LabelMonthSearch &nbsp;
                    
        </td>
        <td style="width: 65px;">
            @Html.DropDownListFor(m => m.DATE_MONTHX, DATE_MONTH, new { @class = "selectMonths", data_width = "65px", id = "DATE_MONTHX" })

        </td>
        <td style="text-align: right; width: 60px;">@Resources.Localization.LabelYear &nbsp;
                    
        </td>
        <td style="width: 65px; text-align: left">@Html.DropDownListFor(m => m.DATE_YEARX, DATE_YEAR, new { @class = "selectYears", data_width = "80px", id = "DATE_YEARX" })
        </td>
        <td style="text-align: left; width: 65px; cursor: pointer;">&nbsp;
           <img src="~/Images/Next-icon.png" style="width: 25px;" title="Sang tháng tiếp theo" onclick="NextCalendar(0)" />



        </td>
        <td class="Align_right" style="width: 65px;">@Resources.Localization.LabelContent 	 &nbsp;
        </td>
        <td style="text-align: left">
            @Html.TextBoxFor(m => m.CONTENTSX, new { @class = "TextBoxContent", id = "inforContent", @Value =@strContents, @Style = "width:100%;" })
        </td>
        <td style="width: 5%;"></td>

    </tr>
    
</table>
<script type="text/javascript">
   
    function NextCalendar(value) {      
        var iMonth = $('.selectMonths').val();
        var iYear = $('.selectYears').val();
        var nextMonth = new Date().getMonth();
        var nextYear = parseFloat(iYear);
        if (value == 1) {//ve thang truoc
            nextMonth = parseFloat(iMonth) - 1;
            if (nextMonth == 0) {
                nextMonth = 12;
                nextYear -= 1;
            }
        }
        else if (value == 0) {//sang thang ke tiep
            nextMonth = parseFloat(iMonth) + 1;
            if (nextMonth > 12) {
                nextMonth = 1;
                nextYear += 1;
            }
        }
        $('select[name=DATE_MONTHX]').selectpicker('val', nextMonth);
        $('select[name=DATE_YEARX]').selectpicker('val', nextYear);
        var strDate = $('.selectWeek').val() + "_" + nextMonth + "_" + nextYear;
        $('#inforContent').val($('.templates option:selected').text() + "Tổng hợp lịch trực toàn bệnh viện tháng " + $('.selectMonths').val() + "/" + $('.selectYears').val());
        $.ajax({
            type: "GET",
            url: '/CalendarDuty/LoadCalendarHospital',
            data: { strDate: strDate },
            success: function (response) {
                $('#loadTemplate').html(response);
            }
        });


    }
</script>
